*{
    margin: 0;
    padding: 0;

    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


header{
    padding-top: 10px;
    padding-bottom: 5px;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

header img:hover{
    opacity: 0.7;
    transition: 0.5s;
}

.container{
    margin: 0 auto;
}

.buy-bag{
    float:right;
    cursor: pointer;
}

.buy-bag:hover{
    opacity: 0.7;
    transition: 0.5s;
} 

#bag-icon{
    font-size: 1.3rem;  
    margin-left: -10px;
}

#bag-icon:visited{
    color:black;
}

.bag-qtd{
    position:absolute;
    width:20px;
    height: 20px;
    border-radius:50%;
    background-color: #5ccbe7;
    color:white !important;
    text-align: center;
    font-size: 0.9em;
    float: right;
    margin-top:15px;
    margin-right:12px;
}

.conteudo-principal{
    text-align: center;
    margin-top:10px;
    margin-bottom:10px;
}

.btn{
    padding: 10px;
    border: 1px solid #777;
    color: #777;
    width:45%;
    cursor: pointer;
    letter-spacing: 2px;
    background-color: white;
}
.btn:hover{
    background-color:#5ccbe7;
    color:white;
    border: none;
    transition: 0.5s;
}

    @media (min-width:375px){
        .btn{
            max-width:175px;
        }
    }
    @media (min-width:768px){
        .btn{
            width: 33.3333%;
        }
    }

#botoes-menu, #filtros-btn{
    display:flex;
    justify-content:center;
    margin:10px 0;
}

#filtrar-menu, #ordenar-menu{
    display: none;
}

#filtrar-header, #cores-header, #tamanhos-header, #precos-header, #ordenar-header{
    display: flex;
    justify-content: space-between;
    margin:10px 0 ;
}

#filtrar-header, #ordenar-header{
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
    color:#555;
}

#cores-menu, #tamanhos-menu, #precos-menu{
    margin-bottom: 30px;
}

#cores-container, #tamanhos-container, #precos-container{
    padding: 0 20px;  
}

.cor-opcao, .preco-opcao{
    margin:20px 0px;
    display: flex;
    align-items: center;
}

.checkbox{
    width: 16px;
    height: 16px;
    border: 1px solid #ccc;
    cursor: pointer;
    margin-right: 10px;
    padding: 3px;
}

.cor-selecionada, .preco-selecionado{
    background-color: #5ccbe7;
    width: 8px;
    height: 8px;
    display: none;
}

#ver-mais-cores, #ver-menos-cores{
    cursor: pointer;
    display: none;
}

#ver-mais-cores:hover, #ver-menos-cores:hover{
    color: #5ccbe7;
    transition: 0.7s;
}
    @media (min-width: 992px) {
        #ver-mais-cores{
            display: block;
        }
    }

.tamanho-option{
    width: 44px;
    height: 44px;
    border: 1px solid #999;
    color:#999;
    cursor: pointer;
    margin:10px;
    padding:10px;
    display: inline-block;
    text-align: center;
}

.tamanho-selecionado{
    border: 1px solid #5ccbe7!important;
    color:#000;
}

#btn-aplicar-filtro{
    margin-right:5%;
}

#mais-recente, #maior-preco, #menor-preco{
    margin: 40px 0 ;
    cursor: pointer;
}

#mais-recente:hover, #maior-preco:hover, #menor-preco:hover{
    color: #5ccbe7;
    transition: 0.5s;
}

#produtos-secao{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

.produto-container{
    width: 50%;
    text-align: center;
    margin:20px 0;
}

.produto-container h2{
    font-size: 0.9rem;
    display: block;
    margin:10px 0;
}

.produto-container p{
    font-weight: bold;
    display: block;
    margin:10px 0;
}

.produto-container span{
    display: block;
    margin:10px 0;
}

.btn-comprar{
    width: 100%;
    background-color: #000;
    color:white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.7rem;
}

.btn-comprar:hover{
    background-color: rgb(46, 47, 48);
    transition: 0.5;
}

#aviso-compra{
    padding: 8px;
	border: 1px solid #87c940;
	border-radius: 4px;
	margin: 10px auto;
    font-size: 0.8rem;
	color: #FFF;
    background-color: #a0d468;
    width: 80%;
    position: fixed;
    top:6%;
    right:3%;
    opacity:0.9;
    box-shadow: 3px 3px 1em #888;
}
    @media (min-width:375px){
        #aviso-compra{
            max-width: 325px;
        }
    }

#aviso-compra p{
    display: inline-block;
}

#aviso-compra i{
    float: right;
}

#btn-carregar-produtos{
    margin: 15px 25%;
}

footer{
    padding: 10px;
    background-color: black;
    color:white;
    text-align: center;
}

@media (min-width:375px){
    .container{
        width: 90%;
    }
}

@media (min-width:768px){
    .container{
        width: 90%;
    }
    .produto-container{
        width: 33.3333%;
    }
}

@media (min-width: 992px) {
    .conteudo-principal{
        width:25%;
        text-align: left;
    }

    #btn-filtrar,#btn-ordenar{
        display:none;
    }

    #filtrar-menu{
        width:25%;
        display: inline-block;
    }

    #filtrar-menu i,#filtrar-header{
        display: none;
    }

    #cores-container,#tamanhos-container,#precos-container{
        display:block !important;
    }
    
    #cores-escondidas{
        display: none;
    }

    #ordenar-menu{
        float:right;
    }
    #ordenar-menu::after{
        clear: both;
    }
    #produtos-secao{
        width:75%;
        float: right;
    }
    #produtos-secao::after{
        clear: both;
    }
    .clearFix{
        clear: both;
    }
    .produto-container{
        width: 33.3333%;
    }
    #btn-carregar-produtos{
        margin: 20px 45%;
    }
  }


/* Elementos */

.mostrar-elemento{
    display:block !important;
}

.esconder-elemento{
    display:none !important;
}

button, i{
    cursor: pointer;
}
h1,h2{
    font-weight: normal;
}
  
h2{
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 2px;
}

img{
    max-width: 100%;
}