* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans',
        sans-serif;

}

h1 {
    font-size: 32px;
    font-weight: 400;
}

h2 {
    font-size: 16px;
    font-weight: 400;
}

h3 {
    font-size: 14px;
    font-weight: 400;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}