@media (max-width: 900px) {

    .container {
        width: 95%;
    }

    .side-menu {
        display: none;
    }

    .content-header {
        display: block;
        text-align: center;

        &__mobile {
            display: flex;
            justify-content: center;
        }
    }

    .content-header__form {
        display: none;
    }

    .products {
        justify-content: center;
    }
}

@media(max-width: 400px) {
    .products {

        &-item {
            width: 140px;

            &__btn {
                padding: 13px 30px;
            }
        }
    }
}