@media (max-width: 900px) {

    .container {
        width: 95%;
    }

    .btn-plus {
        display: block;
    }

    .side-menu {
        @include mobileMenu();

        &__block {
            margin-top: 46px;
            margin-left: 39px;
        }

        &.show {
            opacity: 1;
            max-width: 900px;
        }

        a {
            display: none;
        }

        &__form {
            @include mobileForms();

            &-color {
                @include mobileForms();
            }

            &-sizes {
                @include mobileForms();

                &.show {
                    height: 145px;
                }
            }

        }
    }

    .filter-mobile-btn {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-header {
        display: block;
        text-align: center;

        &__mobile {
            display: flex;
            justify-content: center;
        }
    }

    .content-header__form {
        display: none;
    }

    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media(max-width: 430px) {
    .products {
        &-item {
            width: 140px;

            &__btn {
                padding: 13px 30px;
            }
        }
    }
}