<div class="box-filters">
    <div class="box-content">
        <p class="blusas-p">Blusas</p>
        <div class="box-cores">
            <p>CORES</p>
            <div class="box-input-cores">
                <div><input type="checkbox" name="azul" value="azul"><label>Azul</label></div>
                <div><input type="checkbox" name="vermelho" value="vermelho"><label>Vermelho</label></div>
            </div>
        </div>
         <div class="box-tamanhos">
            <p>TAMANHOS</p>
            <div class="box-button-tamanhos">
                <button>P</button>
                <button>M</button>
                <button>G</button>
                <button>GG</button>
                <button>U</button>
                <button>36</button>
            </div>
        </div>
         <div class="box-precos">
            <p>FAIXAS DE PRECO</p>
            <div class="box-input-precos">
                <div><input type="checkbox" name="preco1" value="1"><label>de R$0 até R$50</label></div>
                <div><input type="checkbox" name="preco2" value="2"><label>de R$51 até R$100</label></div>
            </div>
        </div>
    </div>
</div>