<div id="box-filter-mobile" class="box-filters">
    <div class="box-content">
        <p class="blusas-p">Blusas</p>
        <div class="box-cores">
            <p>CORES</p>
            <div id="box-input-cores">
                
            </div>
        </div>
         <div class="box-tamanhos">
            <p>TAMANHOS</p>
            <div id="box-button-tamanhos">
             
            </div>
        </div>
         <div class="box-precos">
            <p>FAIXAS DE PRECO</p>
            <div id="box-input-precos">
                
            </div>
        </div>
    </div>
</div>