.color_check_list, .price_check_list{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
}

.check_item {
    cursor: pointer;
}

.check_item input {
    display: none;
    cursor: pointer;
    position: absolute;
}


.input{
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}


.colorMenu_container{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.check_item_box {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;

    vertical-align: middle;
    background-color: inherit;
    border: 2px solid gainsboro;
}

.check_item_input:checked+.check_item_box:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    background-color: #2bbff2
}

.check_item_box {
    transform: scale(0.75);
}
  
@media (max-width:900px){
    .color_check_list, .price_check_list{
        display: flex;
        width: 100%;
        padding: 0;
    }

    .color_check_list_off, .price_check_list_off{
        display: none;
    }

}