
.dropdown_list{
    display: none;
    flex-direction: column;
    position: absolute;
    transform-origin: top;
    transition: 0.3s;
    margin: 0;
    border: 1px solid black;
    padding: 0;
    width: 150px;
    background-color: white;
}

.dropdown_list_on{
    display: flex;
}

.dropdown_check_item {
    padding-left: 10px;
}


.dropdown_check_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    background-color: white;
    font-family: sans-serif;
}


  
.dropdown_check_item input {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}


.dropdown_check_item input:checked ~.dropdown_check_item {
    background-color: #2196F3;
}

.dropdown_check_item:hover{
    background-color: #2bbff2;
}
  
.dropdown_check_item .dropdown_check_item input:checked ~ .checkmark {
    background-color: #2196F3;
}
  
.dropdown_check_item .dropdown_check_item input:checked ~ .checkmark:after {
    display: block;
}

@media (max-width:900px) {
    .dropdown_list{
        display: flex;
        position: fixed;
        top: 0;
        border: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        z-index: 1000;
        left: -100%;
        transition-duration: 0.3s;
    }
    .dropdown_list_on{
        display: flex;
        left: 0;
    }


    .dropdown_check_item {
        padding-top: 20px;
        padding-left: 20px;
        color: black;
        font-size: 24px;
        font-weight: 100;
    }
}