.container{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.menu_price{
    display: flex;
    flex-direction: column;
    width: 100%;
}

h4{
    margin: 20px 0px 10px 0; 
    font-weight: 62;
    font-family: sans-serif;
    text-transform: uppercase;
}
