.filter_menu{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    top: 0;
    background-color: white;
}

.menu_options_button{
    display: none;
    border: none;
    margin: 0;
    background-color: white;
}

.arrowup {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowdown {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.menu_price{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.filter_menu h4{
    margin: 0; 
    font-weight: 62;
    font-family: sans-serif;
    text-transform: uppercase;
}

.menu_close_button{
    display: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid black;
    
}


@media (max-width:900px) {
   .filter_menu{
        position: fixed;
        width: 100%;
        max-width: none;
        height: 100%;
        z-index: 1000;
        left: -100%;
        transition-duration: 0.3s;
   }

    .filter_menu_off{
        left: 0;
    }

    #cores_list, #price_list{
        display: none;
    }

   .menu_close_button{
       display: flex;
       justify-content: flex-start;
   }

    .menu_options_titles{
        display: none;
    }

    .menu_options_button{
        display: flex;
        border: none;
        margin: 0;
        background-color: white;
    }
}
