.product_card{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.product_card img{
    width: 100%;
}

.product_card button{
    width: 100%;
    height: 50px;
    border: 0;
    background-color: black;
    color: #ffffff;
    cursor: pointer;
}

.product_card h2{
    text-transform: uppercase;
    font-weight: 62;
    font-size: 18px;
}

.product_card h3{
    margin: 0;
}

.productsList_container {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    justify-items:center;
    width: 100%;
    gap: 20px;
  }

@media (max-width: 1255px) {
    .productsList_container{
        grid-template-columns: repeat(2, 0.3fr);
    }
}
  