
.size_item input {
  display: none;
  cursor: pointer;
  position: absolute;
}

.sizeMenu_checkbox_on{
  display: grid;
  grid-template-columns: repeat(4, 30px);
  grid-template-rows: repeat(3, 30px);
  gap: 10px;
  margin: 0;
  padding: 0;
  padding-top: 10px;
}

.size_item{
  cursor: pointer;
  width: 100%;
  height: 100%;
}

.size_item_box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: 2px solid gainsboro;
}

.size_item_label{
  font-size: 12px;
  font-family: sans-serif;
  display: block;
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;      
  user-select: none; 
}

.size_item_input:checked+.size_item_box{
  content: "";
  width: 100%;
  height: 100%;
  border: 2px solid #2bbff2;
  color: #2bbff2;

}


  
@media (max-width:900px){
  .sizeMenu_checkbox_on{
      display: none;
      grid-template-columns: repeat(4, 30px);
      grid-template-rows: repeat(3, 30px);
      gap: 10px;
      margin: 0;
      padding: 0;
      padding-top: 10px;
  }

  .sizeMenu_checkbox_off{
    display: grid;
    padding-top: 20px;
    margin:0;
    padding-left: 40px;
  }

}