.area-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    margin-bottom: 54px;

    .header-result{
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;

        margin-bottom: 64px;

        @media(max-width: 775px){
            justify-content: center;
            margin-bottom: 25px;
        }
        
        .header-mobile{
            display: none;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            @media(max-width: 775px){
                display: flex;
            }

            .header-mobile-title{
                font-family: $main-font;
                font-style: normal;
                font-weight: normal;
                font-size: 32px;
                line-height: 44px;
                color: $gray;
                margin-bottom: 12px;
            }

            aside.area-button-filter{
                width: 300px;
                height: 40px;

                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;

                border: 1px solid $gray-3;

                span.line-height{
                    height: 100%;
                    border: 1px solid $gray-3;
                }

                span.filter-button,
                span.order-button{
                    display: flex;
                    flex-direction: row;
                    align-content: center;
                    justify-content: center;
                    flex: 1;

                    font-family: $main-font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 33px;
                    color: $gray-3;
                }
            }
        }
        select{
            height: 42px;
            border: 1px solid $black-2;
            box-sizing: border-box;
            padding: 10px 17px 10px 10px;
            display: flex;
            align-items: center;

            font-family: $main-font;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            line-height: 22px;
            color: $black;

            @media(max-width: 775px){
                display: none;
            }

            &:hover{
                cursor: pointer;
            }

            option{
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                font-family: $main-font;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                line-height: 22px;
                color: $black;
            }
        }
    }

    .element-result-area{
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: center;
        justify-content: center;
        width: 100%;

        .elements{
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            justify-content: flex-start;
            flex-wrap: wrap;
            width: 100%;
            flex: 1;
            margin-bottom: 73px;
            padding: 0px 20px;

            color: $white;

            @media(max-width: 775px){
                align-items: center;
                justify-content: center;
                padding: 0px;
            }

            &.loading,
            &.notFound {
                align-items: center;
                justify-content: center;

                span {
                    font-family: $main-font;
                    font-style: normal;
                    font-weight: normal;
                    font-size: 28px;
                    line-height: 44px;
                    color: $gray;
                    margin-bottom: 65px;
                }
            }
        }

        button.more-elements{
            @include defaultBtn($blue);
            @include textButtons;
            color: $white;

            &:hover{
                cursor: pointer;
            }
        }
    }
}