@font-face {
    font-family: "Open Sans Light";
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('fonts/OpenSans-Regular.ttf')
}

.content {

    #bmob {

        h2 {
            width: 100%;
            text-align: center;
            font-family: 'Open Sans Light';
            font-size: 60px;
            margin: 20px 0 20px 0;
        }



        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0 0 0;

        }

        .button1 {
            border: 1px solid gray;
            float: left;
            width: 44%;
            text-align: center;
            padding: 8px 0 8px 0;

            &:active {
                box-shadow: inset 0 0 15px #000000;
            }

            h1 {
                font-family: 'Open Sans Light';
                font-size: 30px;
                font-weight: 100;
                color: black;
                letter-spacing: 3px;
            }
        }
    }

    #opcoes {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: 0.7s;
        // display: none;

        #filtrar {
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            background-color: white;
            height: 100%;
            transition: .7s;

            // RDX TEST
            .fclose {
                position: absolute;
                right: 30px;
                top: 50px;
                width: 40px;
                height: 40px;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    transition: transform 0.25s ease-out;
                }

                /* Vertical line */
                &:before {
                    top: 0;
                    left: 50%;
                    width: 4px;
                    height: 100%;
                    margin-left: -2px;
                    transform: rotate(45deg);
                }

                /* horizontal line */
                &:after {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    margin-top: -2px;
                    transform: rotate(45deg);
                }
            }

            // RDX TEST

            .fil-bar {
                width: 100%;
                border-bottom: 2px solid gray;
                margin: 0 0 60px 0;
            }

            h1 {

                padding: 20px 0 10px 30px;
                margin: 30px 0 40px 0;
                font-family: "Open Sans Light";
                text-transform: uppercase;
                font-size: 50px;
                color: gray;
                letter-spacing: 5px;
            }

            h2 {
                font-family: "Open Sans Light";
                font-size: 42px;
                margin: 0 0 50px 30px;
                text-transform: uppercase;
                letter-spacing: 4px;
            }

            #cores,
            #tamanhos,
            #precos {
                position: relative;

                .fclose {
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    width: 40px;
                    height: 40px;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        transition: transform 0.25s ease-out;
                    }

                    /* Vertical line */
                    &:before {
                        top: 0;
                        left: 50%;
                        width: 4px;
                        height: 100%;
                        margin-left: -2px;
                        transform: rotate(90deg);
                    }

                    /* horizontal line */
                    &:after {
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        margin-top: -2px;
                        transform: rotate(90deg);
                    }

                }

                .fclose2 {
                    position: absolute;
                    right: 30px;
                    top: 15px;
                    width: 40px;
                    height: 40px;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        transition: transform 0.25s ease-out;
                    }

                    /* Vertical line */
                    &:before {
                        top: 0;
                        left: 50%;
                        width: 4px;
                        height: 100%;
                        margin-left: -2px;
                        transform: rotate(90deg);
                    }

                    /* horizontal line */
                    &:after {
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 4px;
                        margin-top: -2px;
                        transform: rotate(0deg);
                    }

                }

            }

            .Opt {
                font-size: 38px;
                padding: 0 0 0 80px;
                margin: 0 0 50px 0;
                font-family: 'Open Sans Regular';
                height: 0px;
                overflow: hidden;
                transition: 0.7s;

                label {
                    position: relative;
                    padding: 0 0 0 60px;
                    display: block;
                    margin: 0 0 15px 0;


                    &::before {
                        content: "";
                        width: 46px;
                        height: 46px;
                        border: 1px solid black;
                        display: inline-block;
                        box-sizing: border-box;
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }

                    &::after {
                        content: "";
                        width: 31px;
                        height: 31px;
                        //  border: 1px solid black;
                        display: inline-block;
                        box-sizing: border-box;
                        position: absolute;
                        left: 6.5px;
                        top: 12.4px;
                    }
                }

                input:checked+label::after {
                    background-color: #00bff3;
                }

                input[type=checkbox] {
                    display: none;
                }
            }

            .Opt2 {
                display: flex;
                justify-content: space-around;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 0 50px 50px;
                height: 0px;
                overflow: hidden;
                transition: 0.7s;

                label {
                    position: relative;
                    padding: 35px 0px;
                    width: 20%;
                    display: block;
                    margin: 0 15px 15px 15px;
                    text-align: center;
                    border: 2px solid transparent;
                    font-size: 35px;
                    font-family: "Open Sans Regular";

                }

                input:checked+label {
                    border: 2px solid #00bff3;
                }

                input[type=checkbox] {
                    display: none;
                }

                #xxx {
                    border: initial;
                }
            }
        }

        #ordenar {
            //display: none;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            background-color: white;
            height: 100%;
            transition: .7s;

            // RDX TEST
            .fclose {
                position: absolute;
                right: 30px;
                top: 50px;
                width: 40px;
                height: 40px;

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    transition: transform 0.25s ease-out;
                }

                /* Vertical line */
                &:before {
                    top: 0;
                    left: 50%;
                    width: 4px;
                    height: 100%;
                    margin-left: -2px;
                    transform: rotate(45deg);
                }

                /* horizontal line */
                &:after {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 4px;
                    margin-top: -2px;
                    transform: rotate(45deg);
                }
            }

            // RDX TEST

            .fil-bar {
                width: 100%;
                border-bottom: 2px solid gray;
                margin: 0 0 60px 0;
            }

            h1 {

                padding: 20px 0 10px 30px;
                margin: 30px 0 40px 0;
                //  padding: 0 0 20px 30px;
                font-family: "Open Sans Light";
                text-transform: uppercase;
                font-size: 50px;
                color: gray;
                letter-spacing: 5px;
            }

            h2 {
                font-family: "Open Sans Light";
                font-size: 42px;
                margin: 0 0 50px 30px;
            }
        }

    }

    #produtos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 20px 0 0 0;

        .prod {
            width: 44%;
            border: 0px solid black;
            text-align: center;
            margin: 60px 0 0 0;

            img {
                width: 100%;
            }

            h2 {
                font-size: 30px;
                text-transform: uppercase;
                font-family: 'Open Sans Regular';
                font-weight: 300;
            }

            h3 {
                font-size: 30px;
                text-transform: uppercase;
                font-family: 'Open Sans Bold';
                font-weight: 900;
                margin: 0;
            }

            p {
                font-family: 'Open Sans Light';
                font-size: 28px;
                font-weight: 200;
                margin: 5px 0 30px 0;
            }

            .button2 {
                background-color: black;
                width: 100%;
                padding: 1px 0 1px 0;

                &:active {
                    background-color: #4c4c4c;
                }

                h1 {
                    font-size: 30px;
                    text-transform: uppercase;
                    font-family: 'Open Sans Light';
                    font-weight: 900;
                    color: white;
                }
            }
        }
    }

    #mais {
        width: 30%;
        text-align: center;
        margin: 100px auto 0 auto;
        padding: 25px 30px 20px 30px;
        border: 0px solid black;
        text-transform: uppercase;
        background-color: #00c0ee;
        font-size: 30px;
        font-family: "Open Sans Bold";
        color: white;
    }
}