/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


// CODE INIT

@font-face {
    font-family: "Open Sans Light";
    src: url('fonts/OpenSans-Light.ttf');
}

@font-face {
    font-family: "Open Sans Bold";
    src: url('fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: "Open Sans Regular";
    src: url('fonts/OpenSans-Regular.ttf')
}

@font-face {
    font-family: "Open Sans sBold";
    src: url('fonts/OpenSans-SemiBold.ttf')
}

$skyblue: #00bff3;

$lgray: lighten(gray, 4);

$desktop: 840px;

@mixin desktop {
    @media (min-width: #{$desktop}) {
        @content;
    }
}

// --- HEADER --------------------------------------

header {
    border-bottom: 1px solid lighten($color: gray, $amount: 30);
    padding: 0 0 6px 0;

    .pheader {
        height: 100%;
        display: block;
    }

    #logo {
        height: 25px;
        margin: 15px 0 0 30px;


        @include desktop {
            height: 30px;
            margin: 15px 0 0 10.8vw;

            //174px;
        }
    }

    #bag {
        float: right;
        margin: 16px 20px 0 0;

        @include desktop {
            margin: 16px 30px 0 150px;
            position: relative;
            display: block;
            //right: 168px;
            right: 10vw;
            // 17em

        }

        img {
            height: 20px;
            margin: 0 auto;

            @include desktop {
                height: 27px;
            }

        }

        .prods {
            position: absolute;
            right: 11px;
            top: 26px;
            //display: none;
            border-radius: 50%;
            background-color: #00c0ee;
            width: 17px;
            height: 17px;

            @include desktop {
                width: 20px;
                height: 20px;
                left: 17px;
                top: 13px;
            }


            #qtd {
                font-size: 11px;
                font-family: "Open Sans sBold";
                margin: 2.1px 1px 0 0;
                text-align: center;
                color: white;

                @include desktop {
                    font-size: 13px;
                    margin: 2.5px 1px 0 0;
                }

            }
        }
    }
}

// --- BODY ----------------------------------------

body {
    margin: 0;
}

.content {


    @include desktop {
        display: flex;
        flex-wrap: wrap;
        padding: 0 0 0 9.4vw;
        // 150px;
    }


    h4 {
        display: none;

        @include desktop {
            display: block;
            width: 100%;
            margin: 25px 0 20px 28px;
            font-family: "Open Sans Regular";
            text-transform: uppercase;
            font-size: 25px;
            letter-spacing: 5px;
        }
    }

    #bmob {

        h2 {
            width: 100%;
            text-align: center;
            font-family: 'Open Sans Regular';
            font-size: 30px;
            margin: 20px 0 20px 0;

            @include desktop {
                display: none;
            }
        }



        .box {
            width: 100%;
            display: flex;
            justify-content: center;
            margin: 10px 0 0 0;

            @include desktop {
                display: none;
            }

            #filt,
            #ord {
                h1 {
                    font-size: 13px;
                    font-family: "Open Sans Regular";
                    color: $lgray;
                    padding: 8px 5px;

                }
            }

        }

        .button1 {
            border: 1px solid gray;
            float: left;
            width: 44%;
            text-align: center;
            padding: 8px 0 8px 0;

            &:active {
                box-shadow: inset 0 0 10px #000000;
            }

            h1 {
                font-family: 'Open Sans Light';
                font-size: 30px;
                font-weight: 100;
                color: black;
                letter-spacing: 3px;
            }
        }
    }

    #opcoes {
        position: fixed;
        top: 0;
        left: -100%;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        transition: 0.7s;
        // display: none;

        @include desktop {
            position: relative;
            left: auto;
            width: 21%;
            height: initial;
            overflow-y: visible;
        }

        #filtrar {
            display: block;
            position: absolute;
            top: 0;
            //left: -100%;
            width: 100%;
            background-color: white;
            height: 100%;
            transition: .7s;

            #fc11 {

                @include desktop {
                    height: fit-content;
                }
            }

            #fc22 {

                @include desktop {
                    height: 180px;
                }
            }

            #fc33 {

                @include desktop {
                    height: 292px;
                }
            }

            // RDX TEST
            .fclose {
                position: absolute;
                right: 15px;
                top: 25px;
                width: 20px;
                height: 20px;

                @include desktop {
                    display: none;
                }


                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    transition: transform 0.25s ease-out;
                }

                /* Vertical line */
                &:before {
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    margin-left: -1px;
                    transform: rotate(45deg);
                }

                /* horizontal line */
                &:after {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    margin-top: -1px;
                    transform: rotate(45deg);
                }
            }

            // RDX TEST

            .fil-bar {
                width: 100%;
                border-bottom: 1px solid $lgray;
                margin: 10px 0 60px 0;

                @include desktop {
                    margin: 0px 0 50px 0;
                    border: none;
                }
            }

            h1 {

                // padding: 20px 0 10px 30px;
                margin: 25px 0 20px 20px;
                font-family: "Open Sans Regular";
                text-transform: uppercase;
                font-size: 15px;
                color: gray;
                letter-spacing: 5px;

                @include desktop {
                    display: none;
                }
            }

            h2 {
                font-family: "Open Sans Regular";
                font-size: 16px;
                margin: 0 0 0px 20px;
                text-transform: uppercase;
                letter-spacing: 4px;

                @include desktop {
                    margin: 0 0 20px 28px;
                }
            }


            #cores,
            #tamanhos,
            #precos {
                position: relative;

                .fclose {
                    position: absolute;
                    right: 15px;
                    top: 0px;
                    width: 14px;
                    height: 14px;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        transition: transform 0.25s ease-out;
                    }

                    /* Vertical line */
                    &:before {
                        top: 0;
                        left: 50%;
                        width: 2px;
                        height: 100%;
                        margin-left: -1px;
                        transform: rotate(90deg);
                    }

                    /* horizontal line */
                    &:after {
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        margin-top: -1px;
                        transform: rotate(90deg);
                    }

                }

                .fclose2 {
                    position: absolute;
                    right: 15px;
                    top: 0px;
                    width: 14px;
                    height: 14px;

                    &:before,
                    &:after {
                        content: "";
                        position: absolute;
                        background-color: black;
                        transition: transform 0.25s ease-out;
                    }

                    /* Vertical line */
                    &:before {
                        top: 0;
                        left: 50%;
                        width: 2px;
                        height: 100%;
                        margin-left: -1px;
                        transform: rotate(90deg);
                    }

                    /* horizontal line */
                    &:after {
                        top: 50%;
                        left: 0;
                        width: 100%;
                        height: 2px;
                        margin-top: -1px;
                        transform: rotate(0deg);
                    }

                }

            }

            .Opt {
                font-size: 15px;
                //  padding: 0 0 0 80px;
                margin: 30px 0 20px 40px;
                font-family: 'Open Sans Regular';
                height: 0px;
                overflow: hidden;
                transition: 0.7s;

                @include desktop {
                    margin: 15px 0 20px 27px;
                }

                label {
                    position: relative;
                    padding: 10px 0 0 40px;
                    display: block;
                    margin: 0px 0 25px 0;

                    @include desktop {
                        margin: 0px 0 0px 0;

                    }

                    &::before {
                        content: "";
                        width: 24px;
                        height: 24px;
                        border: 1px solid black;
                        display: inline-block;
                        box-sizing: border-box;
                        position: absolute;
                        left: 0;
                        top: 5px;
                    }

                    &::after {
                        content: "";
                        width: 18px;
                        height: 18px;
                        //  border: 1px solid black;
                        display: inline-block;
                        box-sizing: border-box;
                        position: absolute;
                        left: 2.5px;
                        top: 8.4px;
                    }
                }

                .maiscor {

                    @include desktop {
                        height: 85px;
                        overflow: hidden;
                    }

                    h5 {

                        // display: none;
                        height: 0;
                        overflow: hidden;
                        margin: 0;
                        padding: 0;

                        @include desktop {
                            display: block;
                            font-family: "Open Sans Regular";
                            font-size: 14px;
                            padding: 20px 0 50px 0;
                            margin: 0 0 20px 0;
                            color: $lgray;
                            text-decoration: underline;
                            cursor: pointer;

                        }
                    }

                    .arrow {
                        border: solid black;
                        border-width: 0 1px 1px 0;
                        display: inline-block;
                        padding: 3px;
                        text-decoration: underline;
                        margin: 0px 3px 3px 0px;
                    }

                    .up {
                        transform: rotate(-135deg);
                        -webkit-transform: rotate(-135deg);
                    }

                    .down {
                        transform: rotate(45deg);
                        -webkit-transform: rotate(45deg);
                    }


                }

                .maiscor2 {
                    @include desktop {
                        height: initial;
                        overflow: hidden;
                    }

                    h5 {
                        height: 0;
                        overflow: hidden;
                        margin: 0;
                        padding: 0;
                    }

                    h6 {
                        height: 0;
                        overflow: hidden;
                        margin: 0;
                        padding: 0;

                        @include desktop {
                            height: fit-content;
                            text-decoration: underline;
                            margin: 20px 0 50px 0;
                            cursor: pointer;
                            color: $lgray;
                        }
                    }
                }


                input:checked+label::after {
                    background-color: $skyblue;
                }

                input[type=checkbox] {
                    display: none;
                }
            }

            .Opt2 {
                display: flex;
                // justify-content: space-around;
                flex-wrap: wrap;
                width: 80%;
                margin: 0 0 50px 35px;
                height: 0px;
                overflow: hidden;
                transition: 0.7s;
                padding: 10px 0 0 0;

                padding: 10px 0 0 40px;

                @include desktop {
                    padding: 11px 0 0 10px;
                    margin: 0 0 50px 9px;
                }

                label {
                    text-align: center;
                    position: relative;
                    padding: 12px;
                    width: 16px;
                    height: 16px;
                    display: block;
                    margin: 10px 10px 0 10px;
                    border: 2px solid transparent;
                    font-size: 14px;
                    font-family: "Open Sans Regular";

                }

                input:checked+label {
                    border: 2px solid $skyblue;
                }

                input[type=checkbox] {
                    display: none;
                    margin: 0;
                }

                #xxx {
                    border: initial;
                }
            }

            #optbut {
                width: 100%;
                height: 0;
                overflow: hidden;
                display: flex;
                justify-content: space-around;
                position: relative;
                margin: 40px 0 40px 0;
                transition: .7s;

                .button3 {
                    border: 0px solid black;
                    width: 40%;
                    background-color: $skyblue;
                    color: white;
                    font-size: 20px;
                    text-align: center;
                    font-family: "Open Sans Regular";
                    text-transform: uppercase;
                    padding: 12px 10px;

                    &:active {
                        box-shadow: inset 0 0 10px #000000;
                    }

                }

                .button4 {
                    border: 1px solid $lgray;
                    width: 40%;
                    background-color: white;
                    color: $lgray;
                    font-size: 20px;
                    text-align: center;
                    font-family: "Open Sans Regular";
                    text-transform: uppercase;
                    padding: 12px 10px;

                    &:active {
                        box-shadow: inset 0 0 10px #000000;
                    }
                }


            }
        }

        #ordenar {
            //display: none;
            position: absolute;
            top: 0;
            left: -100%;
            width: 100%;
            background-color: white;
            height: 100%;
            transition: .7s;

            // RDX TEST
            .fclose {
                position: absolute;
                right: 15px;
                top: 20px;
                width: 14px;
                height: 14px;

                @include desktop {
                    display: none;
                }

                &:before,
                &:after {
                    content: "";
                    position: absolute;
                    background-color: black;
                    transition: transform 0.25s ease-out;
                }

                /* Vertical line */
                &:before {
                    top: 0;
                    left: 50%;
                    width: 2px;
                    height: 100%;
                    margin-left: -1px;
                    transform: rotate(45deg);
                }

                /* horizontal line */
                &:after {
                    top: 50%;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    margin-top: -1px;
                    transform: rotate(45deg);
                }
            }

            // RDX TEST

            .fil-bar {
                width: 100%;
                border-bottom: 1px solid $lgray;
                margin: 0 0 30px 0;

                @include desktop {
                    display: none;
                }
            }

            h1 {

                //  padding: 25px 0 20px 20px;
                margin: 25px 0 20px 20px;
                //  padding: 0 0 20px 30px;
                font-family: "Open Sans Light";
                text-transform: uppercase;
                font-size: 15px;
                color: gray;
                letter-spacing: 5px;
            }

            h2 {
                font-family: "Open Sans Regular";
                font-size: 16px;
                margin: 0 0 45px 20px;
                letter-spacing: 4px;

                @include desktop {
                    display: none;
                }
            }
        }
    }

    .produtos {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 35px 0 0 0;

        @include desktop {
            width: 70%;
            min-height: 1171px;
            margin: 55px 0 0 0;
        }

        .prod {
            width: 44%;
            border: 0px solid black;
            text-align: center;
            margin: 0px 0 40px 0;

            @include desktop {
                width: 25%;
                margin: 0px 15px 40px 15px;
            }

            img {
                width: 100%;
            }

            h2 {
                font-size: 13px;
                text-transform: uppercase;
                font-family: 'Open Sans Regular';
                margin: 10px 0 20px 0;
            }

            h3 {
                font-size: 15px;
                text-transform: uppercase;
                font-family: 'Open Sans Bold';
                font-weight: 900;
                margin: 0;
            }

            p {
                font-family: 'Open Sans Regular';
                font-size: 13px;
                font-weight: 200;
                margin: 5px 0 15px 0;
            }

            .button2 {
                background-color: black;
                width: 100%;
                padding: 1px 0 1px 0;

                &:active {
                    background-color: #4c4c4c;
                }

                h1 {
                    font-size: 13px;
                    text-transform: uppercase;
                    font-family: 'Open Sans Regular';
                    font-weight: 900;
                    color: white;
                    padding: 10px 0;
                    letter-spacing: .5px;
                    cursor: pointer;

                    @include desktop {
                        padding: 20px 0;
                        font-size: 18px;
                    }
                }
            }
        }
    }

    #produtos2 {

        margin: 0;
        width: 100%;
        height: 0;
        overflow: hidden;
        min-height: 0;

    }

    .mais {

        // text-align: center;
        // margin: 0px auto 0 auto;
        // padding: 13px 27px;
        // border: 0px solid black;
        // text-transform: uppercase;
        // background-color: #00c0ee;
        // font-size: 15px;
        font-family: "Open Sans Regular";
        // color: white;
        // letter-spacing: 1px;
        // font-weight: 600;
        // width: 100%;

        // @include desktop {
        width: 100%;
        background-color: white;
        margin: 45px 0 00px 0;
        // }

        p {

            // @include desktop {
            background-color: #00c0ee;
            width: fit-content;
            padding: 20px 40px;
            text-align: center;
            margin: 0 auto;
            font-size: 20px;
            cursor: pointer;

            &:active {
                background-color: darken($color: #00c0ee, $amount: 3) // }
            }
        }


    }
}

// --- FOOTER --------------------------------------

footer {
    background-color: black;

    margin: 50px 0 0 0;

    p {
        color: white;
        font-family: "Open Sans Regular";
        font-size: 10px;
        text-align: center;
        padding: 5px 0 5px 0;
        margin: 0;
    }

}

// TEST


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

//   <div class="dropdown">
//     <span>Mouse over me</span>
//     <div class="dropdown-content">
//       <p>Hello World!</p>
//     </div>
//   </div>