
main #products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    padding: 0px 0px 170px 0px;    

    position: absolute;
    width: 976px;    
    left: 362px;
    top: 213px;
    
}

main #products .product{
    display: flex;
    flex-direction: column;
    width: 195.25px;
    height: 424px;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 30px;
    margin-bottom: 40px;

}

main #products .product img{
    width: 195px;
    height: 293px;    
    top: 0px;
}
main #products .product .product-title{
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 19px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px
}
main #products .product .product-title span{
    margin: auto;
    text-transform: uppercase;
}
main #products .product .product-price{
    display: flex;
    width: 100%;
    height: 22px;

    font-family: Open Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 22px;

    margin-top: 10px;
}
main #products .product .product-price span{
    margin: auto;
}
main #products .product .product-parcel{
    display: flex;
    width: 100%;
    height: 22px;

    color: #666666;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}
main #products .product .product-parcel span{
    margin: auto;
}
main #products .product button{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 7px 49px;
    color: #FFFFFF;
    width: 100%;
    height: 33px;
    border: 1px solid #000000;
    background: #000000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;

    margin-top: 10px;
}
main #products .product button:active{
    background-color: rgb(26, 25, 25);
}
#comprar{
    cursor: pointer;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 8px 31px;
    top: 1641px;
    left: 729px;
    margin-bottom: 50px;
    border: none;

    background: #00C0EE;    

    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;    

    text-transform: uppercase;

    color: #FFFFFF;

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 10px;
}
.hidden{
    display: none !important;
}
@media (max-width: 800px)
{
    #comprar{
        left: 21.5%;
        top: 2260px;
    }
    main  #products{
        position: absolute;
        width: 100%;
        height: 731.96px;
        left: 0%;
        top: 227.39px;
    }
    main #products .product{
        display: flex;
        flex-direction: column;
        width: 160px;
        height: 357.14px;        
        flex: none;
        order: 0;
        flex-grow: 0;
        margin: 0px 5px;
        margin-bottom: 40px;
    }
    main #products .product img{
        width: 160px;
        height: 293px;    
    }
}
@media (min-width: 525px){
    #comprar{
        left: 27.5%;
        top: 1450px;
    }
}
@media (min-width: 800px){
    #comprar{
        top: 1641px;
        left: 729px;
    }
}