body{
    margin: 0px;
    color: inherit;
    font-size: inherit;
    font-family: "Open Sans Regular", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 100;
    
}
.header_content,
.home{
    max-width: 78%;
    margin: 0 auto;
}
.header{    
    padding: 15px 0;
    box-shadow: 0 2px 0 0 rgb(191, 191, 191);
}
.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.home{
    padding: 16px 0;
    
}
.home_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    
}
/*
    CORRIGIR SELECT

.select{
    background-color: #fff;
    

    cursor: pointer;
    font-family: "Open Sans Regular", sans-serif;
    padding: 10px 6px;
    display: inline-block;
    height: inherit;
    
}
.select:hover{
    
    border-radius: 3px;
    border-color: black;
    
}
.option{

    padding: 10px 10px 10px 10px;
}
    
select:hover{
    

}

*/

.select{
    padding: 6px 3px;
    background-color: #fff;
    font-size: 12px;
    
}
.select:hover{
    transition: 0.2s;
    border-radius: 3px;
    border-color: black;
    color: black;
    cursor: pointer; 
    
}
.option{
    background-color: green; 
    cursor: pointer;    
}
.option span{
    padding: 6px 6px;
    color: green;
}

/*  NÃO TÁ INDO DE JEITO NENHUM*/
.main_title{
    font-size: 32px;
    
}
.side_bar{
    width: 200px;
}

.side_bar_items_title{
    font-size: 20px;
    color: black; 
    font-weight: 500;
    margin-bottom: 10px;
}

.side_bar_option_color{
    display: flex;
    flex-direction: column;
}

.side_bar_colors input{
    cursor: pointer;
    height: 14px;
    width: 14px;
    border: solid #7F7F7F;
    
}


.side_bar_colors label{
    cursor: pointer;
}
/*.input_color:checked{
    content: "";
    background: green;

}
.side_bar_colors input[type=checkbox]:checked{
 
}
*/
.side_bar_option_size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.side_bar_btn{
    font-family: "Open Sans Bold", sans-serif;
    border: 1px solid #E4E4E4;
    height: 38px;
    width: 38px;
    position: relative;
    color: #A1A1A1;
    cursor: pointer;
    margin: 5px;
}
.side_bar_btn:hover{
    border: 1px solid #33BDEF;
    color: #000;
}
/*.side_bar_btn:checked{
    background-color: red;
}
VERIFICAR"*/
.side_bar_option_price{
    display: flex;
    flex-direction: column;
}
.side_bar_prices input{
    cursor: pointer;
    
    height: 14px;
    width: 14px;
    border: solid #7F7F7F;
    display: inline-block;
    position: relative;
}
.side_bar_prices label{
    cursor: pointer;
}




a,
a:link,
a:visited {
    text-decoration: none;
}

a {
    color: inherit;
}


.size-btn{
    position: absolute;
        
}

/*.side_bar_btn{
    font-family: "Open Sans Bold", sans-serif;
    border: 1px solid #E4E4E4;
    height: 3.2rem;
    width: 3.2rem;
    color: #A1A1A1;
    cursor: pointer;
}*/