$fonte: system-ui;

$cor-primaria: #30c2db;
$cor-secundaria: #111;
$cor-terciaria: rgba(0, 0, 0, 0.3);
$cor-terciaria-fonte: gray;
$cor-default: white;

$cor-modal-body: #eee;

*{
  font-family: $fonte;
}
html{
  scroll-behavior: smooth;
  float: left;
}
body{
  margin: 0;
  @media (min-width: 768px){/*Desktop*/
    width: 98.9vw;
    .wrap{
      color: $cor-secundaria;
      width: 70vw;
      margin: 0 15vw;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
  }
  @media (max-width: 768px){/*Mobile*/
    width: 100vw;
    .wrap{
      color: $cor-secundaria;
      width: 100vw;
    }
  }
}
button{
  color: $cor-secundaria;
  :hover{
    cursor: pointer;
  }
}
/* Botões */
.b-checkbox{
  background-color: $cor-default;
  border: $cor-terciaria 1px solid;
  color: $cor-terciaria-fonte;
  width: 48px;
  height: 45px;
  margin: 6px;
  font-weight: 500;
}
.b-checkbox-checked{
  background-color: $cor-default;
  border: #30c2db 2px solid;
  color: $cor-secundaria;
  width: 48px;
  height: 45px;
  margin: 6px;
  font-weight: 500;
}
.b-primario{
  background-color: $cor-primaria;
  border: $cor-primaria 1px solid;
  color: $cor-default;
  width: 140px;
  height: 38px;
  text-transform: uppercase;
  font-weight: 500;
}
.b-secundario{
  background-color: $cor-secundaria;
  border: $cor-secundaria 1px solid;
  color: $cor-default;
  width: 140px;
  height: 38px;
  text-transform: uppercase;
  font-weight: 500;
}
.b-default{
  background-color: $cor-default;
  border: $cor-secundaria 1px solid;
  width: 140px;
  height: 38px;
}
header{
  position: fixed;
  left: -3px;
  top: 0;
  box-shadow: $cor-terciaria 1px 0px 6px;
  background-color: $cor-default;
  @media (min-width: 768px){/*Desktop*/
    width: 70vw;
    padding: 12px 15vw;
  }
  @media (max-width: 768px){/*Mobile*/
    width: 100vw;
    padding: 12px;
  }
  .logo{
    float: left;
    margin-left: 5px;
  }
  .shopping{
    font-size: 24px;
    text-align: right;
    .fa-shopping-bag{
      cursor: pointer;
      margin-right: 35px;
      z-index: -1;
    }
    .fa-circle{
      @media (min-width: 768px){/*Desktop*/
        cursor: pointer;
        position: absolute;
        font-size: 16px;
        color: #30c2db;
        top: 31px;
        right: 258px;
      }
      @media (max-width: 768px){/*Mobile*/
        position: absolute;
        font-size: 16px;
        color: #30c2db;
        top: 31px;
        right: 40px;
      }
      small{
        position: absolute;
        color: $cor-default;
        left: 5px;
        top: 2px;
        font-size: 12px;
      }
    }
  }
}
footer{
  position: relative;
  width: 100%;
  bottom: 0;
  padding-bottom: 5px;
  padding-top: 0;
  height: fit-content;
  background-color: $cor-secundaria;
  color: $cor-default;
  text-align: center;
  z-index: -1;
  small{
    font-size: 11px;
  }
}
.rsp{
  position: absolute;
}
.wrap .template{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 10vh;
}
/* ---------------- Mobile Styles ---------------- */
.mobile{
  section{
    width: 100vw;
    text-align: center;
    .navbar{
      display: inline-flex;
      margin-bottom: 3vh;
      button{
        font-size: medium;
      }
    }
    .navbar2{
      display: inline-flex;
      margin-bottom: 3vh;
      padding: 0 25vw;
    }
    .produtos-mobile{
      float: left;
      margin-left: 2vw;
    }
  }
  .carrinho .nome{
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 3%;
    font-size: 18px;
  }
  .carrinho .item-carrinho-produto{
    padding: 18px 19px;
    text-align: start;
    border-bottom: $cor-terciaria 1px solid;
    img{
      float: left;
      margin-right: 10px;
    }
    .rowTop{
      padding-top: 6px;
      font-size: 18px;
      i{
        float: right;
        margin-top: 3px;
      }
    }
  }
}
/* Cards */
.card-produto{
  @media (min-width: 768px){/*Desktop*/
    float: left;
    width: 266px;
    height: 492px;
    padding: 20px 10px;
    .card-img img{
      width: 230px;
      height: 342px;
    }
    .card-body{
      height: 94px;
      display: grid;
    }
  }
  @media (max-width: 768px){/*Mobile*/
    float: left;
    width: 166px;
    height: 370px;
    padding: 8px 3px;
    .card-img img{
      width: 142px;
      height: 220px;
    }
    .card-body{
      height: 84px;
      display: grid;
    }
  }
  .card-body{
    .nome{
      margin: 0;
      padding: 3px;
      font-weight: normal;
      text-transform: uppercase;
      word-spacing: 3%;
      font-size: smaller;
    }
    .preco{
      font-weight: bold;
    }
    .parcelas{
      font-size: smaller;
    }
  }
}
/* Asides */
aside{
  top: 0vh;
  @media (min-width: 768px){/*Desktop*/
    width: 14vw;
    height: 100%;
    float: left;
  }
  @media (max-width: 768px){/*Mobile*/
    position: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-color: $cor-default;
    transition: 0.5s;
    overflow-y: scroll;
  }
  .aside-header{
    position: absolute;
    text-align: left;
    color: $cor-terciaria-fonte;
    font-size: 1.2em;
    width: 96.6vw;
    left: -3px;
    padding: 15px;
    padding-right: 0;
    background-color: $cor-default;
    box-shadow: #000000a6 1px 0px 6px;
    .titulo{
      float: left;
      margin-left: 5px;
    }
    .controles{
      float: right;
      margin-right: 5.5vw;
      color: $cor-secundaria;
    }
  }
  .aside-body{
    padding-bottom: 8vh;
    @media (min-width: 768px){/*Desktop*/
      margin-top: 3vh;
    }
    @media (max-width: 768px){/*Mobile*/
      padding-top: 5vh;
      margin-top: 4vh;
    }
    .p-ordem-checked{
      color: $cor-primaria;
    }
    ul{
      text-decoration: none;
      list-style: none;
      padding: 0;
      margin: 0;
      text-align: left;
      font-size: 1.2em;
    }
    @media (max-width: 768px){/*Mobile*/
      ul li{
        padding: 15px 5px;
        padding-left: 15px;
      }
    }
    ul li i{
      float: right;
      font-size: 0.9em;
      margin-top: 5px;
      margin-right: 4vw;
    }
    ul li .dropdown{
      @media (min-width: 768px){/*Desktop*/
        margin: 15px 0;
        ul li{
          padding: 4px 0;
          font-size: 0.7em;
        }
      }
      @media (max-width: 768px){/*Mobile*/
        margin: 4px 0;
        ul li{
          padding: 10px 6px;
          font-size: 0.7em;
        }
      }
      ul li label{
        display: flex;
        p{
          margin: 0;
          margin-left: 10px;
        }
        input{
          width: 1em;
          height: 1em;
          font-size: 1em;
        }
      }
    }
    .navbar{
      position: fixed;
      bottom: 0;
      width: 100vw;
      padding: 15px 0px;
    }
  }
  .aside-footer{
    padding-bottom: 10px;
    .subtotal{
      padding-bottom: 15px;
      .soma{
        font-size: 30px;
      }
    }
  }
}
.ordens .aside-body ul li p{
  margin: 0;
}
/* ---------------- Desktop Styles ---------------- */
.desktop{
  section{
    width: 70vw;
    display: revert;
    .navbar{
      width: 70vw;
      padding: 2vh 0;
      b{
        font-size: 26px;
      }
      select{
        float: right;
        font-size: 18px;
        margin-right: 30px;
        margin-top: 6px;
      }
    }
    .produtos-desktop{
      margin-left: 2vw;
      text-align: center;
      font-size: 20px;
      width: 68vw;
      display: table-footer-group;
      flex-direction: row;
      justify-content: center;
      align-items: flex-start;
    }
    .navbar2{
      text-align: center;
      margin: 40px 0;
    }
    .infolink{
      font-size: 16px;
      color: $cor-terciaria-fonte;
      text-decoration: underline;
      :hover{
        color: rgb(116, 116, 116);
        cursor: pointer;
      }
    }
    .f-tamanhos{
      margin: 12px 0;
    }
  }
  .modal{
    position: fixed;
    width: 70vw;
    border-radius: 5px;
    background-color: white;
    box-shadow: $cor-terciaria 2px 2px 6px;
    left: 14vw;
    top: -90vh;
    transition: 0.5s;
    .modal-header{
      padding: 15px;
      font-size: 22px;
      color: $cor-terciaria-fonte;
      display: flex;
      .titulo{
        margin-left: 5px;
      }
      .controles{
        width: -webkit-fill-available;
        text-align: end;
        color: $cor-secundaria;
        margin-right: 4px;
      }
    }
    .modal-body{
      background-color: $cor-modal-body;
      padding: 15px;
      height: 42vh;
      overflow-y: scroll;
    }
    .modal-footer{
      padding: 10px 0;
      margin-left: 20px;
      .subtotal{
        margin-right: 2vw;
        .soma{
          font-size: 30px;
        }
      }
      .navbar{
        width: 68vw;
      }
    }
  }
  .carrinho .nome{
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    word-spacing: 3%;
    font-size: 18px;
  }
  .carrinho .item-carrinho-produto{
    padding: 18px 19px;
    text-align: start;
    border-bottom: $cor-terciaria 1px solid;
    img{
      float: left;
      margin-right: 10px;
    }
    .rowTop{
      padding-top: 6px;
      font-size: 18px;
      i{
        float: right;
        margin-top: 3px;
      }
    }
    .rowBottom span{
      color: $cor-terciaria-fonte;
      font-size: 14px;
    }
  }
}
