 .content-card {
  height: 26.5rem;
  width: 12.203rem;
  @include center-items-column();
  justify-content: space-between;

  @media (max-width: 375px) {
    height: 22.321rem;
    width: 10.125rem;
  }
}

.card-image-container {
  height: 18.313rem;
  width: 12.188rem;

  @media (max-width: 375px) {
    height: 15.159rem;
    width: 10.112rem;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.card-text-container {
  @include center-items-column();
  gap: .5rem;
  width: 100%;
}

.card-clothing-name {
  font-size: 0.875rem;
  color: $secondary;
  line-height: 1.192rem;
  text-transform: uppercase;
}

.card-span-container {
  @include center-items-column();
}

.card-clothing-price {
  font-size: 1rem;
  color: $secondary;
  font-weight: 700;
  line-height: 1.362rem;
}

.card-clothing-divide-price {
  font-size: 1rem;
  color: $gray-1;
  line-height: 1.362rem;
}

.card-clothing-btn {
  background-color: $secondary;
  color: $third;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.192rem;
  width: 100%;
  outline: none;
  border: none;
  height: 2.063rem;
  margin-top: .5rem;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: $gray-4;
    transition: all ease-in-out .3s;
  }
}