.content-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &__mobile {
        display: none;
    }

    &__title {
        margin-top: 35px;
        margin-bottom: 32px;
    }

    &__form {
        select {
            width: 100%;
            margin-top: 40px;
            background: none;
            padding: 8px 24px 8px 13px;
            cursor: pointer;
            border: solid 1px black;
            font-size: 12px;
            box-shadow: none;
        }

        option {
            width: 100%;
            text-align: left;
            font-size: 12px;
            cursor: pointer;
            padding: 20px;
        }
    }

    &__mobile-btn-box {
        border: solid 1px $dark-gray;
        margin: 0;
        width: 100%;
        display: flex;
        justify-content: center;
        cursor: pointer;
    }

    &__mobile-btn {
        padding: 25px;
        background: #fff;
        border: none;
        color: $dark-gray;
    }
}


.layout {
    display: flex;
    justify-content: space-between;
}