.content-header {
    display: flex;
    justify-content: space-between;

    &__title {
        margin-top: 35px;
        margin-bottom: 32px;
    }

    &__form {
        select {
            width: 100%;
            margin-top: 40px;
            background: none;
            padding: 8px 24px 8px 13px;
            cursor: pointer;
            border: solid 1px black;
            font-size: 12px;
            box-shadow: none;
        }

        option {
            width: 100%;
            text-align: left;
            font-size: 12px;
            cursor: pointer;
            padding: 20px;
        }
    }
}

.layout {
    display: flex;
}