.products {
    display: grid;
    transition: 1s;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;

    &-item {
        text-align: center;
        margin-top: 40px;
        width: 195px;

        img {
            width: 100%;
            height: auto;
        }

        figure {
            margin: 0;
            width: 100%;
            height: auto;
        }

        &__title {
            font-size: 14px;
            text-transform: uppercase;
        }

        &__price {
            font-size: 16px;
        }

        &__divided-by {
            font-size: 14px;
            display: block;
        }

        &__btn {
            padding: 13px 50px;
            background-color: #000;
            color: #fff;
            margin-top: 14px;
            display: inline-block;
            text-decoration: none;
        }
    }

    &__btn--accent {
        cursor: pointer;
        align-self: center;
        text-align: center;
        font-size: 14px;
        text-transform: uppercase;
        padding: 13px 21px;
        background-color: $accent-color;
        color: #fff;
        border: none;
        text-decoration: none;
    }

    &__btn {
        display: flex;
        grid-column: 1 / span 3;
        justify-content: center;
        margin-top: 64px;
        margin-bottom: 48px;
        flex-basis: 100%;
    }
}

.no-item-found {
    width: 100%;
    height: 500px;
    grid-column: 1 / span 3;
    display: flex;
    justify-content: center;
    align-items: center;

    p {
        text-align: center;
    }
}