.side-menu {
    margin-right: 70px;

    a {
        color: $dark-gray;
        font-size: 12px;
    }

    width: 60%;

    &__block {
        margin-bottom: 45px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 13px;
        letter-spacing: 3px;
    }

    &__form {
        margin-bottom: 15px;

        div {
            margin-bottom: 9px;
        }

        label {
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;

            span {
                display: inline-block;
                width: 15px;
                height: 15px;
                background-color: #fff;
                border: solid 1px rgba(0, 0, 0, 0.5);
                margin-right: 9px;

                div {
                    transition: .4s;
                }
            }
        }

        input[type="radio"] {
            display: none;

            &:checked+span div {
                background-color: $accent-color;
                width: 9px;
                height: 9px;
                position: relative;
                top: 25%;
                left: 25%;
                transform: translate(-7%, -7%);
            }
        }

    }

    &__form-sizes {
        color: rgba(0, 0, 0, 0.5);
        display: flex;
        flex-wrap: wrap;


        div {
            height: 32px;
            width: 32px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .3s;

        }

        label {
            height: 16px;
            margin-right: 9px;
            margin-bottom: 23px;
        }

        span {
            font-size: 14px;
            cursor: pointer;
        }

        input[type="radio"] {
            display: none;

            &:checked~div {
                color: #000;
                border: 1px solid $accent-color;
            }
        }
    }
}