.side-menu {
    margin-right: 70px;

    a {
        color: $dark-gray;
        font-size: 12px;
    }

    width: 60%;

    &__block {
        margin-bottom: 45px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 13px;
        letter-spacing: 2px;
    }

    &__form {
        margin-bottom: 15px;

        div {
            margin-bottom: 9px;
        }

        label {
            font-size: 14px;
        }

        input[type="checkbox"] {
            display: none;

            &+span:before {
                content: " ";
                margin-right: 9px;
                padding: 0px 7px;
                border: solid 1px rgba(0, 0, 0, 0.5);
            }

            &:checked+span:before {
                content: url('./../../../layout/imagens/Select.png');
                padding: 0px 3px;
                border: solid 1px rgba(0, 0, 0, 0.5);
            }
        }

    }

    &__form-sizes {
        color: rgba(0, 0, 0, 0.5);

        display: flex;
        flex-wrap: wrap;


        div {
            height: 32px;
            width: 32px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 9px;
            margin-bottom: 8px;
            cursor: pointer;

        }

        div.side-menu__form-sizes--active {
            color: #000;
            border: 1px solid $accent-color;
        }

        label {
            height: 16px;
        }

        span {
            font-size: 14px;
            cursor: pointer;
        }

        input[type="checkbox"] {
            display: none;
        }
    }
}