.side-menu {
    margin-right: 70px;

    a {
        color: $dark-gray;
        font-size: 12px;
    }

    width: 60%;

    &__block {
        margin-bottom: 45px;
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 13px;
        letter-spacing: 3px;

        &-block {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    &__form {
        margin-bottom: 15px;

        &-color {
            max-height: 117px;
            overflow: hidden;
            transition: .5s;

            &.show-colors {
                max-height: 600px;
            }

            div {
                margin-bottom: 9px;
            }

            label {
                font-size: 14px;
                cursor: pointer;
                display: flex;
                align-items: center;

            }

            &-box {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 15px;
                height: 15px;
                background-color: #fff;
                border: solid 1px rgba(0, 0, 0, 0.5);
                margin-right: 9px;

                span {
                    transition: .4s;
                }
            }

            input[type="radio"] {
                display: none;

                &:checked+.side-menu__form-box span {
                    display: inline-block;
                    background-color: $accent-color;
                    width: 9px;
                    height: 9px;
                }
            }
        }

        div {
            margin-bottom: 9px;
        }

        label {
            font-size: 14px;
            cursor: pointer;
            display: flex;
            align-items: center;

        }

        &-box {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 15px;
            height: 15px;
            background-color: #fff;
            border: solid 1px rgba(0, 0, 0, 0.5);
            margin-right: 9px;

            span {
                transition: .4s;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked+.side-menu__form-box span {
                display: inline-block;
                background-color: $accent-color;
                width: 9px;
                height: 9px;
            }
        }

    }

    &__form-sizes {
        color: rgba(0, 0, 0, 0.5);
        display: grid;
        grid-template-columns: 39px 39px 39px 39px;
        grid-row-gap: 23px;


        span {
            height: 32px;
            width: 32px;
            border: solid 1px rgba(0, 0, 0, 0.1);
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            transition: .2s;

        }

        label {
            height: 16px;
        }

        span {
            font-size: 14px;
            cursor: pointer;
        }

        input[type="radio"] {
            display: none;

            &:checked~span {
                color: #000;
                border: 1px solid $accent-color;
            }
        }
    }
}