.container-products {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: row;
}

.filters {
  background-color: chartreuse;
  flex: 1;
}

.color-filter {
  display: flex;
  flex-direction: column;
}

.cards-area {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 4;
}
