.container-products {
  display: flex;
  flex-direction: row;
}
.cards-area {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.product-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.type-title {
  font-weight: normal;
}

.organize-by {
  height: 3rem;
  padding: 10px;
  border: 1px solid #c7cace;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #8b92a0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.15s ease;
  color: #586175;
  text-decoration: none;
}

.show-more {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-show-more {
  display: flex;
  align-self: center;
  justify-content: center;
  border: none;
  width: 150px;
  padding: 1rem;
  background-color: #2bbff2;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.products-area {
  width: 100%;
}

@media (max-width: 1280px) {
  .cards-area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-area {
    grid-template-columns: repeat(2, 1fr);
  }
}
