.container-products {
  display: flex;
  flex-direction: row;
}
.cards-area {
  display: grid;
  padding: 0;
  grid-template-columns: repeat(4, 1fr);
}

.product-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.type-title {
  font-weight: normal;
  margin: 0;
}

.mobile-filters {
  display: none;
}

.btn-filter-mobile {
  width: 150px;
  height: 50px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px rgba(80, 80, 80, 0.5) solid;
}

.btn-filter-mobile:first-child {
  border-right: none;
}

.organize-by-desktop {
  height: 3rem;
  padding: 10px;
  border: 1px solid #c7cace;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0 1px 3px -2px #8b92a0;
  cursor: pointer;
  font-family: inherit;
  font-size: 16px;
  transition: all 0.15s ease;
  color: #586175;
  text-decoration: none;
}

.show-more {
  width: 100%;
  padding-bottom: 2rem;
  padding-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.btn-show-more {
  display: flex;
  align-self: center;
  justify-content: center;
  border: none;
  width: 150px;
  padding: 1rem;
  background-color: #2bbff2;
  color: #fff;
  cursor: pointer;
  font-weight: bold;
}

.products-area {
  width: 100%;
}

.modal-organize-mobile {
  position: fixed;
  overflow-y: scroll;
  background-color: #fff;
  top: 0;
  width: 100%;
  height: 100%;
}
.organize-by-mobile {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: 20px;
}

.organize-options {
  margin: 10px;
}

@media (max-width: 1400px) {
  .cards-area {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .cards-area {
    grid-template-columns: repeat(2, 1fr);
  }
  .organize-by-desktop {
    display: none;
  }

  .product-type {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0;
  }
  .mobile-filters {
    display: block;
  }
}
