@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/*========Reset==========*/
* {
    padding:0;
    margin:0;
    list-style:none;
    box-sizing: border-box;
    font-family: 'Open Sans';
    
}

/*========Cabeçalho==========*/

header.cabecalho{
    position: fixed;
    height: 90px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(255, 255, 255, 0.6);
}

header.cabecalho div#top-bar-container{
    padding-left: 160px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;

}
div#top-bar-container #carrinho-compras{
    padding-left: 860px;
    outline: none;
}
#carrinho div.comprar{
    background-color: #5ccbe7;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    margin-left: 880px;
    margin-top: -40px;

}

/*========Menu==========*/

nav.menu{
    height: 120px;
    padding-top: 120px;
    padding-bottom: 30px;
    padding-left: 160px;
    display: flex;
   
}

nav.menu h1{
    font-size: 25pt;
    font-weight: normal;
}
nav.menu div.ordenar{
    padding-left: 760px;

}
nav.menu .select-box{
    display: flex;
    width: 200px;
    flex-direction: column;
}
nav.menu .select-box .option-container{
    background-color: #fff;
    border-radius: 3px;
    border: 0.2px solid #000;
    color: #000;
    width: 140px;
    opacity: 0;
    transition: all 0.4s;
    overflow: hidden;

    order: 1;

}

nav.menu .selected{
    background: #fff;
    cursor: pointer;
    border: 0.5px solid #000;
    border-radius: 5px;
    color: #000;
    padding: 8px;
    margin-right: 49px;

    order: 0;
}
nav.menu .selected:hover{
    background-color: #5ccbe7;
    border: 0;
    color: #fff;
}

nav.menu .option-container.active{
    max-width: 200px;
    opacity: 1;
    padding: 5px;
}

nav.menu .select-box .option .selected{
    padding: 12px 24px;
    cursor: pointer;

}
nav.menu .select-box .option:hover{
    background-color: #01cbfd;
    color: #fff;

}

nav.menu .select-box label{
    cursor: pointer;

}
nav.menu .option .radio{
    display: none;
}
  
/*========Filtros==========*/

aside.filtros{
    height: 0;
    padding-left: 160px;
    padding-top: 70px;
    margin-right: 700px;

}

aside.filtros h4{
    height: 30px;
    margin-bottom: 10px;
    font-size: 13pt;
    font-weight: normal;
}

aside.filtros div#cores-option .cor-opcao{
    font-size: 11pt;
    padding: 0px;
}
aside.filtros div#tamanho-option .opcao-tamanho{
    color: #ccc;
    display: flex;
    max-width: 160px;
    align-items: center;
    text-align: center;
    font-size: 13px;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 25px;
  
}

aside.filtros div#precos-container .preco-opcao{
    font-size: 11pt;
    padding: 0px;

}

aside.filtros  input{
    all: unset;
    border: 1px solid #ccc;
    width: 18px;
    height: 18px;
    display: inline-block;
    cursor: pointer;
    margin-right: 10px;
    padding: 3px;
}

aside.filtros  input:checked{
    background-color: #5ccbe7;
    border: 5px solid #fff;
    outline: 1px solid #ccc;
    width: 10px;
    height: 10px;

}

aside.filtros div#tamanho-option .tamanhos{
    width: 42px;
    height: 42px;
    margin:2px;
    padding:10px;
    border: 0.5px solid #ccc;
    color:#ccc;
    cursor: pointer;
    text-align: center;

}
aside.filtros div#tamanho-option .tamanhos:hover{
    border: 0.5px solid #00c2f3;
    color: #000;
}

.tamanhos:checked{
    border: 1px solid #5ccbe7;

}

div.exibir-mais, div.exibir-menos{
    height: 40px;
    box-sizing: border-box;
    margin-top: 8px;
    
}

button.mostar-mais, button.mostrar-menos{
    border: 0;
    color: #bbb;
    background-color: #fff;
    cursor: pointer;
    font-size: 12pt;
    outline: none;
    
}
button.mostar-mais:hover, button.mostrar-menos:hover{
    transition: 0.5s;
    color: #00c2f3;

}

/*========Conteúdo principal==========*/

main.conteudo{
    height: 400px;
    margin-left: 410px;
    margin-bottom: 900px;
    margin-top: -9px;

}

main.conteudo div#popup{
    display: none;
    height: 150px;
    width: 300px;
    margin-left: 190px;
    position: fixed;

    background-color: #5ccbe7;

}

main.conteudo div#popup p{
    color: #fff;
    padding: 20px;
    font-weight: 500;
    font-size: 13pt;
}

main.conteudo div#popup div#btn-confirmar, div#btn-cancelar{
    padding: 4px;
    font-size: 12pt;
    cursor: pointer;
    color: #fff;
    padding-top: 124px;
    background-color: #000;

}
main.conteudo div#popup div#btn-confirmar:hover, div#btn-cancelar:hover{
    color: #129cc2;

}

main.conteudo div#add_carrinho{
    display: none;
    height: 130px;
    width: 420px;
    position: fixed;
    margin-left: 190px;
    background-color: black;
    

}

main.conteudo div#add_carrinho div#retorno {
    padding: 3px;
    background-color: #5ccbe7;
    
}

main.conteudo div#add_carrinho div#retorno p{
    padding: 10px;
    margin-top: 20px;
    font-size: 12pt;
    color: #fff;
    font-weight: 300;
    text-align: center;

}

main.conteudo div#add_carrinho .btn-close{
    color: #fff;
    cursor: pointer;
    padding-left: 20px;
}
main.conteudo div#add_carrinho .btn-close:hover{
    color: #129cc2
}

main.conteudo div{
    
    display: flex;
    flex-direction: row;

}
main.conteudo figure.comprar{
    padding: 20px;
    height: 450px;
    width: 250px;
    margin-top: 9px;
    margin-right: 19px;
    
}


main.conteudo figure.comprar figcaption{
    text-align: center;
}
main.conteudo figure.comprar figcaption h4{
    font-weight: normal;
    
}
main.conteudo figure.comprar figcaption p.valor{
    font-weight: 800;
}

main.conteudo figure.comprar figcaption button.button-comprar{
    text-align: center;
    width: 100%;
    background-color: #000;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    margin-top: 2px;
    border: 0;
}

/*========Botão Carregar==========*/

div#carregar{

    text-align: center; 
    padding: 10px;
    border: 0;
}
div#carregar button.btn_carregar{
    margin-top: 140px;
    margin-bottom: 30px;
    margin-left: 250px;
    background-color: #00c2f3;
    color: #fff;
    border: 0;
    padding: 20px;
    cursor: pointer;
    outline: none;

}

div#carregar button.btn_carregar:hover{
    background-color: #129cc2;
    transition: 0.5s;

}

/*========Footer==========*/

footer{
    height: 30px;
    background-color: black;
}

footer p{
    color: #fff;
    text-align: center;
    padding: 4px;

}