.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4.5rem;
  border-bottom: 2.5px rgba(80, 80, 80, 0.4) solid;
  padding-left: 6rem;
  padding-right: 6rem;
}

.cart-length {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 5px;
  background-color: #2bbff2;
  right: 95px;
  top: 40px;
}

@media (max-width: 1400px) {
  .header {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  .cart-length {
    right: 45px;
    top: 40px;
  }
}

@media (max-width: 768px) {
  .header {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .cart-length {
    right: 45px;
    top: 40px;
  }
}
