<link rel="stylesheet" type="text/css" href="./app/component/home/home.component.css">
<div class="home-wrapper">
    <div class="side-menu">
        <h2>Blusas</h2>
        <section class="filtro">
            <h2>cores</h2>
            <div class="checkbox-container" id='filtro-cores'>
            </div>
            <span id="mostrar-cores">Ver todas as cores <i class="fas fa-chevron-down"></i></span>
        </section>

        <section class="filtro">
            <h2>Tamanhos</h2>
            <div class="tamanho-container" id='filtro-tamanhos'>
            </div>
        </section>

        <section class="filtro">
            <h2>Faixa de Preço</h2>
            <div class="checkbox-container" id='filtro-precos'>

            </div>
        </section>
    </div>

    <div class="main">
        <div class="main-header">
            <div class="large">
                <select id="order">
                    <option value="" selected disabled>Ordenar por:</option>
                    <option value="recente">Mais recentes</option>
                    <option value="preco">Menor preço</option>
                    <option value="preco-desc">Maior preço</option>
                </select>
            </div>

            <div class="mobile">
                <div class="dropdown-title">
                    <div class="dropdown" id="dropdown-filtrar">
                        <span>filtrar</span>
                    </div>
                    <div class="dropdown" style="border-left: 0;" id="dropdown-ordenar">
                        <span>ordernar</span>
                    </div>
                </div>
                <div class="dropdown-content">

                    <!-- FILTROS -->
                    <div class="dropdown-item hidden" id="dropdown-filtros">
                        <!-- CORES -->
                        <section>
                            <div class="dropdown-item-tile">
                                <span>cores</span>
                                <span><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="checkbox-container hidden" id='filtro-cores-mobile'>
                            </div>
                        </section>
                        <!-- TAMANHOS -->
                        <section>
                            <div class="dropdown-item-tile">
                                <span>tamanhos</span>
                                <span><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="tamanho-container hidden" id='filtro-tamanhos-mobile'>
                            </div>
                        </section>

                        <section class="filtro">
                            <div class="dropdown-item-tile">
                                <span>preços</span>
                                <span><i class="fas fa-plus"></i></span>
                            </div>
                            <div class="checkbox-container hidden" id='filtro-precos-mobile'>
                            </div>
                        </section>
                        <div class="limpar-confirmar">
                            <button class="btn-1" id="dropdown-aplicar">aplicar</button>
                            <button class="btn-2" id="dropdown-limpar">limpar</button>
                        </div>
                    </div>


                    <!-- ORDER -->
                    <div class="dropdown-item hidden" id="dropdown-ordem">
                        <section class="filtro" value="recente">
                            <div class="dropdown-item-tile">
                                <span>mais recentes</span>
                            </div>
                        </section>
                        <section class="filtro" value="preco">
                            <div class="dropdown-item-tile">
                                <span>menor preço</span>
                            </div>
                        </section>
                        <section class="filtro" value="preco-desc">
                            <div class="dropdown-item-tile">
                                <span>maior preço</span>
                            </div>
                        </section>
                    </div>

                </div>
            </div>


        </div>
        <div class="main-content" id="produtos">

        </div>
        <div class="main-footer" id="main-footer">
            <button id="btnCarregarMais">carregar mais</button>
        </div>
    </div>
</div>