@import "../../shared/style/theme.scss";

$item-size: 195px;
$item-size-mobile: 170px;
$itens-row: 3;
$item-gap: 80px;

$side-menu-width: 12%;
.mobile {
    display: none;
}

.home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.side-menu {
    width: $side-menu-width;
}

.main {
    display: flex;
    flex-direction: column;
    width: 745px;
    div {
        margin-bottom: 10px;
    }
    .main-header {
        margin-top: 15px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .main-content {
        display: grid;
        grid-template-columns: repeat($itens-row, min-content);
        gap: $item-gap;
        .item {
            display: flex;
            flex-direction: column;
            width: $item-size;
            .descricao {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin-top: 7px;
                margin-bottom: 0px;
                font-size: 14px;
                .preco {
                    margin-bottom: 0px;
                    font-weight: 900;
                    font-size: 16px;
                }
            }
            .item-footer {
                display: flex;
                align-items: center;
                justify-content: center;
                button {
                    height: 30px;
                    width: 100%;
                    vertical-align: middle;
                    color: $secondary-font-color;
                    background-color: $secondary-color;
                }
            }
        }
    }
    .main-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 45px;
        margin-bottom: 45px;
    }
}

.filtro {
    h3 {
        margin-bottom: 5px;
    }
    margin-bottom: 35px;

    #mostrar-cores {
        cursor: pointer;
        color: $border-color;
        border-bottom: 1px solid $border-color;
    }
}

.tamanho-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 15px;
    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        color: $border-color;
        width: 35px;
        height: 35px;
        //Desabilita marcacao de texto
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .selected {
        border: 2px solid $main-color;
        color: $main-font-color;
    }
}

.hidden {
    display: none !important;
}

.dropdown-title {
    display: flex;
}

.dropdown {
    position: relative;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $border-color;
    border: 1px solid $border-color;
    height: 50px;
    .closed {
        display: none !important;
    }
}

.dropdown-content {
    display: flex;

    .dropdown-item {
        display: flex;
        flex-direction: column;
        section {
            display: flex;
            flex-direction: column;
            width: 100%;
            border-bottom: 25px;
            .dropdown-item-tile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-left: 15px;
                margin-right: 45px;
            }
            .dropdown-inner {
                margin-left: 35px;
                margin-bottom: 35px;
            }
        }
        .limpar-confirmar {
            display: flex;
            flex-direction: row;
            gap: 15px;
            margin-left: 15px;
            margin-right: 15px;
            button {
                flex: 1;
            }
            .btn-2 {
                background-color: white;
                color: $border-color;
                border: 1px solid $border-color;
            }
        }
    }
    #dropdown-ordem {
        section {
            margin-bottom: 15px;
        }
    }
}

//Mobile
@media (max-width: 768px) {
    .main {
        width: 100%;
        max-width: 100%;
        .main-header {
            justify-content: initial;
            .large {
                display: none;
            }
            .mobile {
                display: flex;
                flex-direction: column;
                width: 100%;
                div {
                    flex: 1;
                }
                h2 {
                    text-align: center;
                    margin-top: 0;
                    margin-bottom: 5px;
                }
            }
        }
        .main-content {
            display: grid;
            grid-template-columns: repeat(2, min-content);
            align-content: space-around;
            justify-content: space-between;
            padding-left: 5px;
            padding-right: 5px;
            gap: unset;
        }
        .item {
            width: $item-size-mobile !important;
            img {
                width: 100%;
            }
        }
    }

    .side-menu {
        display: none;
    }
}
