<link rel="stylesheet" type="text/css" href="./app/component/home/home.component.css">
<div class="home-wrapper">
    <div class="side-menu">
        <section class="filtro">
            <h2>cores</h2>
            <div class="checkbox-container" id='filtro-cores'>
            </div>
            <span id="mostrar-cores">Ver todas as cores <i class="fas fa-chevron-down"></i></span>
        </section>

        <section class="filtro">
            <h2>tamanhos</h2>
            <div class="tamanho-container" id='filtro-tamanhos'>
            </div>
        </section>

        <section class="filtro">
            <h2>faixa de preço</h2>
            <div class="checkbox-container" id='filtro-precos'>

            </div>
        </section>
    </div>

    <div class="main">
        <div class="main-header">
            <div>
                <select id="order">
                    <option value="" selected disabled>Ordenar por:</option>
                    <option value="recente">Mais recentes</option>
                    <option value="preco">Menor preço</option>
                    <option value="preco-desc">Maior preço</option>
                </select>
            </div>
        </div>
        <div class="main-content" id="produtos">
            
        </div>
        <div class="main-footer" id="main-footer">
            <button id="btnCarregarMais">carregar mais</button>
        </div>
    </div>
</div>