@import "../../shared/style/theme.scss";

$item-size: 195px;
$itens-row: 3;
$item-gap: 80px;

$side-menu-width: 12%;
// $main-content-width: calc($item-size * $itens-row + ($item-gap * ($item-row - 1)));

.home-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.side-menu {
    width: $side-menu-width;
}

.main {
    display: flex;
    flex-direction: column;
    // width: calc($item-size * $itens-row + ($item-gap * ($item-row - 1)));
    // width: calc(100% - 35px);
    // width: calc(#{$itens-row} * #{$item-size} + (1 - #{$itens-row}) * #{$item-gap});
    width: 745px;
    div {
        margin-bottom: 10px;
    }
    .main-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }
    .main-content {
        display: grid;
        grid-template-columns: repeat($itens-row, min-content);
        gap: $item-gap;
        .item {
            display: flex;
            flex-direction: column;
            width: $item-size;
            .descricao {
                display: flex;
                flex-direction: column;
                text-align: center;
                margin: 10px;
                .preco {
                    font-weight: bold;
                }
            }
            .item-footer {
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $secondary-font-color;
                background-color: $secondary-color;
                height: 40px;
                span {
                    vertical-align: middle;
                    margin-bottom: 2px;
                }
            }
        }
    }
    .main-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        button {
            all: unset;
            cursor: pointer;
            background-color: $main-color;
            color: $secondary-font-color;
            padding: 7px;
            padding-left: 14px;
            padding-right: 14px;
            //Desabilita marcacao de texto
            -webkit-touch-callout: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
}

.filtro {
    h2 {
        margin-bottom: 5px;
    }
    margin-bottom: 45px;

    #mostrar-cores{
        cursor: pointer;
        color: $border-color;
        border-bottom: 1px solid $border-color;
    }
}

.tamanho-container {
    display: grid;
    grid-template-columns: repeat(4, min-content);
    gap: 5px;
    div {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid $border-color;
        color: $border-color;
        width: 35px;
        height: 35px;
        //Desabilita marcacao de texto
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .selected {
        border: 1px solid $main-color;
        color: $main-font-color;
    }
}

.hidden {
    display: none !important;
}
