<link rel="stylesheet" type="text/css" href="./app/component/home/home.component.css">
<div class="home-wrapper">
    <div class="side-menu">
        <section class="filtro">
            <h2>cores</h2>
            <div class="checkbox-container">
                <input type="checkbox" id="clr-1" name="amarelo" value="amarelo">
                <label for="clr-1">Amarelo</label><br>
                <input type="checkbox" id="clr-2" name="azul" value="azul">
                <label for="clr-2">Azul</label><br>
                <input type="checkbox" id="clr-3" name="branco" value="branco">
                <label for="clr-3">Branco</label><br>
                <input type="checkbox" id="clr-4" name="cinza" value="cinza">
                <label for="clr-4">Cinza</label><br>
                <input type="checkbox" id="clr-5" name="Laranja" value="laranja">
                <label for="clr-5">Laranja</label><br>
            </div>
            <a href="">Ver todas as cores</a>
        </section>

        <section class="filtro">
            <h2>tamanhos</h2>
            <div class="tamanho-container">
                <div class="selected">P</div>
                <div>M</div>
                <div>G</div>
                <div>GG</div>
                <div>U</div>
                <div>36</div>
                <div>38</div>
                <div>40</div>
                <div>42</div>
                <div>44</div>
                <div>46</div>
            </div>
        </section>

        <section class="filtro">
            <h2>faixa de preço</h2>
            <div class="checkbox-container">
                <input type="checkbox" id="pr-1" name="0-50" value="0-50">
                <label for="pr-1">de R$0 até r$50</label><br>
                <input type="checkbox" id="pr-2" name="51-150" value="51-150">
                <label for="pr-2">de R$51 até r$150</label><br>
                <input type="checkbox" id="pr-1" name="0-50" value="0-50">
                <label for="pr-1">de R$0 até r$50</label><br>
                <input type="checkbox" id="pr-2" name="51-150" value="51-150">
                <label for="pr-2">de R$51 até r$150</label><br>
            </div>
        </section>
    </div>

    <div class="main-content">

        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        <div class="item">
            <img src="../../../assets/images/img_10.png">
            <div class="descricao">
                <div>camiseta mescla</div>
                <div class="preco">R$ 28,00</div>
                <div>até 3x de R$9,33</div>
            </div>
            <div class="item-footer"><span>comprar</span></div>
        </div>
        

    </div>
</div>