<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" 
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@100&family=Open+Sans:wght@300&family=Poppins:wght@600;700;900&family=Roboto+Mono:wght@100&family=Zen+Antique&family=Zen+Antique+Soft&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"
    integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>M3 - Ecommerce Website</title>
</head>
<body>
    
    <header id="home" class="header">
        <nav class="nav">

            <div class="navigation container">
                <div class="logo">
                    <img src="./imagens/logo-m3.png">
                </div>
                <div class="menu">
                    <div class="top-nav">
                        <div class="logo">
                            <img src="./imagens/logo-m3.png">
                        </div>
                        <div class="close">
                            <i class="fas fa-times"></i>
                        </div>
                    </div>
                    <ul class="nav-list">
                        <li class="nav-item">
                            <a href="#home" class="nav-link">Home</a>
                        </li>
                        <li class="nav-item">
                            <a href="product.html" class="nav-link">Produtos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#about" class="nav-link">Quem somos</a>
                        </li>
                        <li class="nav-item">
                            <a href="#contact" class="nav-link">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a href="#account" class="nav-link">Conta</a>
                        </li>
                        <li class="nav-item">
                            <a href="cart.html" class="nav-link icon">
                                <i class="fas fa-shopping-cart"></i></a>
                            </li>
                        </ul>
                    </div>
                    <a href="cart.html" class="car-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </a>

                    <div class="hamburger">
                        <i class="bx bx-menu"></i>
                    </div>   
                </div>
            </nav>
        <div class="hero-content">
            <h2><span class="discount">70%</span> SALE OFF </h2>
            <h1>
                <span>Summer Vibes</span>
                <span>mode on</span>
            </h1>
            <a href="#" class="btn">shop now</a>
        </div>
    </header>

    <main>

        <section class="section advert">
            <div class="advert-center container">
                <div class="advert-box">
                    <div class="dotted">
                        <div class="content">
                            <h2>
                                Girls <br />
                                Clothing
                            </h2>
                            <h4>Worlds Best Brands</h4>
                        </div>
                    </div>
                    <img src="./imagens/png negra.png" alt="" />
                </div>
            </div>
            <div class="advert-box">
                <div class="dotted">
                    <div class="content">
                        <h2>
                            Girls <br />
                            Clothing
                        </h2>
                        <h4>Worlds Best Brands</h4>
                    </div>
                </div>
                <img src="./imagens/png negra.png" alt="" />
            </div>
            <div class="advert-box">
                <div class="dotted">
                    <div class="content">
                        <h2>
                            Girls <br />
                            Clothing
                        </h2>
                        <h4>Worlds Best Brands</h4>
                    </div>
                </div>
                <img src="./imagens/png negra.png" alt="" />
            </div>
        </section>

        <section class="section featured">
            <di class="title">
                <h1>Featured Products</h1>
            </di>

            <div class="product-center container">
                <di class="product">
                    <div class="product-header">
                        <img src="./imagens/img_2.png" alt="" />
                        <ul class="icons">
                            <span><i class="bx bx-heart"></i></span>
                            <span><i class="bx bx-shopping-bag"></i></span>
                            <span><i class="bx bx-search"></i></span>
                        </ul>
                    </div>
                    <div class="product-footer"></div>
                        <a href="#">
                            <h3>Camisa Mescla</h3>
                        </a>

                        <div class="rating">
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                            <i class="bx bxs-star"></i>
                        </div>
                        <h4 class="price"></h4>
                </di>
            </div>
        </section>
        </main>
    
    <script src="./index.js"></script>
</body>
</html>