/*-------------Select--------------*/

.container-select-box {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    align-items: flex-end;
}

.container-select-box>select {
    margin: 3rem 5rem;
    width: 10rem;
    padding: 0.25rem;
    outline: none;
    background-position: center right;
    background-repeat: no-repeat;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding-top: 2px;
    padding-bottom: 2px;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: white;
    color: black
}

.container-select-box>select>option:checked {
    background-color: #4EE0FA;
    color: white;
}

/*----------Cards-----------*/

.card {
    animation: fade-in 0.5s ease-in forwards;
    opacity: 0;
}

@keyframes fade-in {
    from {
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#container-cards {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 3rem;
}

/*--Card content---*/

.card-content {
    justify-content: center;
    text-align: center;
    align-items: center;
}

.nome {
    margin: 0.5rem 0rem;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.2em;
}

.preco {
    margin-bottom: 0.25rem;
    font-family: 'Monteserrat', sans-serif;
    font-weight: bold;
}

.parcelas {
    margin: 0.25rem 0rem;
    font-family: 'Monteserrat', sans-serif;
}

.btn-comprar {
    margin-top: 0.5rem;
    color: white;
    background-color: black;
    border: none;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    width: 80%;
    height: 2.5rem;
}
.carregar-mais{
    justify-content: center;
    align-items: center;
    text-align: center;
}
#btn-card{
    animation: fade-in 0.5s ease-in forwards;
    opacity: 0;
}
.carregar-mais>button{
    margin-top: 0.5rem;
    color: white;
    background-color:#4EE0FA;
    border: none;
    font-family: 'Monteserrat', sans-serif;
    font-size: 1em;
    padding:0.5rem 1rem;
    font-weight: bold;
    width: 25%;
    height: 2.5rem;
}
/*-------------Mobile--------------------*/

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    #container-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1rem;
    }
}

@media only screen and (max-width: 600px) {
    #container-cards {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0rem;
        margin-top:2rem;
        margin-left:0.5rem;
        margin-bottom:1rem;
    }
    .container-select-box {
        display: none;
    }
    .card {
        margin:1rem 0;
        width: 95%;
    }
    .card-content>img {
        width: 95%;
    }
    
    .btn-comprar {
        width: 100%;
        bottom:0;
    }
    .nome {
        font-size: 0.8em;
    }
    .carregar-mais>button{
        width: 60%;
    }
}