.color_check_list_on, .price_check_list_on{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 0;
}

.color_loadButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: 0;
    max-width: 150px;
    padding-top: 5px;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    color: #d9d9d9;
    cursor: pointer;
}

.color_arrowdown {
    border: solid #d9d9d9;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}

.check_item {
    cursor: pointer;
}

.check_item input {
    display: none;
    cursor: pointer;
    position: absolute;
}


.input{
    font-size: 1rem;
    line-height: 1.5;
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
}

.check_item_box {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;

    vertical-align: middle;
    background-color: inherit;
    border: 2px solid gainsboro;
}

.check_item_input:checked+.check_item_box:after {
    content: "";
    display: block;
    position: absolute;
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    background-color: #2bbff2
}

.check_item_box {
    transform: scale(0.75);
}
  
@media (max-width:900px){
    .color_check_list_on, .price_check_list_on{
        display: none;
        width: 100%;
        padding: 0;
        margin-left: 0;
        margin-left: 40px;
    }

    .color_check_list_off, .price_check_list_off{
        display: flex;
    }


    .color_loadButton{
        max-width: 150px;
    }

}