*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "OpenSans", Arial, sans-serif;
}

header{
    border-bottom: 1px solid #c7c7c7;
    height: 63px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 0px 135px;

    width:100%;

}

header #logo{
    max-width: 120px;
    object-fit: contain;
}

header #bag #shop-icon{
    font-size: 24px;
}

header #bag #bag-count{
    color: #fff;
    display: inline-block;
    position: absolute;
    font-weight: 500;
    font-size:12px;
    text-align: center;

    width: 18px;
    height: 18px;
    background-color: #00c0ee;

    margin-left: -8px;
    margin-top: 12px;
    border-radius: 50%;
    line-height: 18px;
}

#container{
    padding:0px 0px 0px 135px;
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#container #sidebar{
    width: 190px;
    flex-shrink: 0;
    margin-right: 50px;
}

#container #filters{
    width: 100%;
}

#filter-mobile-buttons{
    display: none;
}

.filter-title i{
    display: none;
}

.mobile-header{
    display: none;
}

#container #sidebar h1{
    margin-bottom: 20px 0px;
    font-weight: 500;
    font-size: 32px;
    color: #333333;
}

#container #sidebar h2{
    font-size: 22px;
    font-weight: 100;
    color: #000;
    margin: 15px 0px;
}

#container #select-color ul,
#container #select-price ul{
    list-style: none;
}

#container #select-color ul li label,
#container #select-price ul li label{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 5px 0px;
}

#container #select-color ul li input,
#container #select-price ul li input{
    display: none;    
}

#container #select-color ul li .checkmark,
#container #select-price ul li .checkmark{
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid #333;
    margin-right: 10px;
}

#container #select-color ul li .checkmark::after,
#container #select-price ul li .checkmark::after{

    content: "";
    display: none;
    width: 10px;
    height: 10px;
    background-color: #aaa;
    margin: 2px 2px;
}

#container #select-color ul li:hover .checkmark::after,
#container #select-price ul li:hover .checkmark::after{
    display: inline-block;
}

#container #select-color ul li input:checked ~ .checkmark::after,
#container #select-price ul li input:checked ~ .checkmark::after{
    display: inline-block;
    background-color: #00c0ee;
}

#container #select-color p{
    margin-top: 10px;
    font-size: 14px;
    color: #777;
    cursor: pointer;
    text-decoration: underline;
}

#container #select-color #more-colors{
    display: none;
}

#container #select-size ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

#container #select-size input{
    display: none;
}

#container #select-size label{
    display: flex;
    width: 40px;
    height: 40px;
    border: 1px solid #aaa;
    align-items: center;
    justify-content: center;
    color: #aaa;
    margin: 5px 5px 5px 0px;
}

#container #select-size ul li label:hover{
    border: 1px solid #000;
    color: #000
}

#container #select-size ul li input:checked ~ label{
    border: 1px solid #00c0ee;
    color: #000
}

#order-container{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 30px;
}

#order-container select{
    appearance: none;
    background-color: transparent;
    border:none;
    margin: 0;
    width: 100%;
    outline: none;
}

#order-container #order-desktop{
    width: 135px;
    display: flex;
    flex-direction: row;
    position: relative;
}

#order-container #order-mobile{
    display: none;
}

#order-container select{
    color: #666;
    border: 1px solid #666;
    padding: 10px;
}

#order-container #order-desktop i{
    position: absolute;
    top: 30%;
    right: 10px;
    color: #666;
}

#main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#main #products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
}

.product{
    flex: 0 1 30%;
    margin: 40px 10px;
    text-align: center;
    display: flex;
    align-items: center;
}

.product-container{
    max-width: 195px;
}

.product h1{
    font-size: 16px;
    font-weight: 100;
    margin: 10px 0;
}

.product h4{
    font-weight: 400;
    margin: 2px 0px;
}

.product img{
    object-fit: contain;
}

.product span{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 42px;
    background-color: #000;
    color: #fff;
    line-height: 42px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

#mobile-buttons{
    display: none;
}

#load-more{
    width: 180px;
    height: 42px;
    font-size: 16px;
    background-color: #00c0ee;
    color: #fff;
    text-align: center;
    font-weight: bold;
    border: 0;
    margin: auto;
    margin: 30px auto;
    cursor: pointer;
}

footer{
    width: 100%;
    padding: 5px;
    background-color: #000;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
}