.menu{
    width: 150px;
}

.header_container{
    width: 90%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.header_container h1{
    margin: 10px 0;
    font-size: 28px;
    font-weight: 100;
    font-family: sans-serif;
}

.responsive_menu{
    display: none;
    width: 100%;
}

.filter_button{
    display: none;
}

.organize_button{
    display: flex;
    width: 150px;
    height: 30px;
    padding: 10px 10px 10px 20px;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    cursor: pointer;
}

.organize_button_responsive, .filter_button, .organize_button{
    width: 150px;
    height: 30px;
    background-color: white;
    margin: 0;
    border: 1px solid black;
}

.filter_button, .organize_button h1{
    font-size: 14px;
}

.organize_button_responsive h1, .filter_button h1{
    font-size: 14px;
    font-family: sans-serif;
}

.dropdown_list{
    display: none;
    flex-direction: column;
    position: absolute;
    transform-origin: top;
    transition: 0.3s;
    border: 1px solid black;
    border-top: 0;
    width: 150px;
    background-color: white;
    box-sizing: border-box;
}

.dropdown_list_on{
    display: flex;
}

.dropdown_check_item {
    padding-left: 10px;
}


.dropdown_check_item {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    cursor: pointer;
    padding: 10px 10px 10px 20px;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    background-color: white;
    font-family: sans-serif;
}

.dropdown_check_item input {
    display: none;
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.dropdown_check_item input:checked ~.dropdown_check_item {
    background-color: #2bbff2;
}

.dropdown_check_item:hover{
    background-color: #2bbff2;
    color: white;
}
  
.dropdown_check_item .dropdown_check_item input:checked ~ .checkmark {
    background-color: #2bbff2;
}
  
.dropdown_check_item .dropdown_check_item input:checked ~ .checkmark:after {
    display: block;
}

@media (max-width : 900px) {

    .organize_button_responsive , .filter_button{
        display: flex;
        align-items: center;
        height: 40px;
        justify-content: center;
        margin-bottom: 20px;
    }

    .organize_button{
        display: none;
    }

    .responsive_menu{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header_container{
        height: auto;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    

    .header_container h1{
        font-weight: 62;
        font-family: sans-serif;
    }

    .dropdown_list{
        display: flex;
        position: fixed;
        top: 0;
        border: 0;
        width: 100%;
        max-width: none;
        height: 100%;
        z-index: 1000;
        left: -100%;
        transition-duration: 0.3s;
    }
    .dropdown_list_on{
        display: flex;
        left: 0;
    }


    .dropdown_check_item {
        padding-top: 20px;
        padding-left: 20px;
        color: black;
        font-size: 24px;
        font-weight: 100;
    }

}

