.filter_menu{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    width: 100%;
    top: 0;
    background-color: white;
}


.optionsMenu_container{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;
}

.menu_options_button{
    display: none;
    border: none;
    margin: 0;
    background-color: white;
}

.menu_options_button h4{
    font-size: clamp(1em, 1.2em + 1vw, 4em);
    padding-left: 20px;
    margin: 0;
}

.arrowup {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.arrowdown {
    border: solid black;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}


.menu_price{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 20px 0;
}

.filter_menu h4{
    margin: 0;
    font-weight: 100;
    font-family: sans-serif;
    text-transform: uppercase;
}


.menu_close_button{
    display: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid gainsboro;
    
}

.color_loadButton{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    border: 0;
    max-width: 150px;
    padding-top: 5px;
    background-color: white;
    border-bottom: 1px solid #d9d9d9;
    color: #d9d9d9;
    cursor: pointer;
}

.color_arrowdown {
    border: solid #d9d9d9;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 3px;
}


@media (max-width:900px) {
   .filter_menu{
        position: fixed;
        width: 100%;
        max-width: none;
        height: 100%;
        z-index: 1000;
        left: -100%;
        transition-duration: 0.3s;
        overflow: auto;
   }

   .optionsMenu_container{
       margin-bottom: 10px;
   }

    .filter_menu_off{
        left: 0;
    }

    .menu_buttons{
        width: 100%;
    }

   .menu_close_button{
       display: flex;
       justify-content: space-between;
       align-items: center;
       padding-left: 20px;
       padding: 0;
       padding: 20px 20px;
   }

   .menu_close_button span{
        font-size: 24px;
        text-align: center;
   }

   .menu_close_button h1{
        font-family: sans-serif;
        font-size: clamp(1em, 1.2em + 1vw, 4em);
        color: #666666;
        font-weight: 100;
        text-transform: uppercase;
    }
    .menu_options_titles{
        display: none;
    }

    .menu_options_button{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: none;
        margin-top: 0;
        padding: 0;
        height: 70px;
        background-color: white;
    }

    .menu_options_button_sign_color, .menu_options_button_sign_size , .menu_options_button_sign_price{
        padding-right: 20px;
        font-size: 48px 
    }

    .menu_options_button_sign_color::before, .menu_options_button_sign_size::before , .menu_options_button_sign_price::before{
        content: '+';
    }
    

    .menu_options_button_sign_color_minus::before, .menu_options_button_sign_size_minus::before , .menu_options_button_sign_price_minus::before{
        content: "-";
    }


}
