/* aside */
aside div#mobile-menu div {
    border: 1px solid #ccc;
    width: 50%;
    height: 50px;
    line-height: 50px;
    color: #aaa;
    cursor: pointer;
}

aside div#mobile-menu div:hover {
    background-color: #ccc;
    color: #fff;
}

aside div#mobile-filter-hidden {
    display: none;
}

aside div#mobile-filter-showed {
    overflow: auto;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
} 

aside div#mobile-filter-showed div#mobile-filter-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

aside div#mobile-filter-showed div#mobile-filter-header > p {
    color: #aaa;
}

aside div#mobile-filter-showed div#mobile-filter-header button#close-mobile-filter {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s;
}

aside div#mobile-filter-showed div#mobile-filter-header button#close-mobile-filter:hover {
    opacity: 0.7;
}

aside div#mobile-filter-showed div.mobile-filter-option {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

aside div#mobile-filter-showed div.mobile-filter-option > span {
    font-size: 2rem;
    cursor: pointer;
}

aside div#mobile-filter-showed div.mobile-filter-option > span:hover {
    opacity: 0.7;
}

aside div#mobile-filter-showed div#mobile-colors-hidden {
    display: none;
}

aside div#mobile-filter-showed div#mobile-colors-showed {
    padding: 0 40px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

aside div#mobile-filter-showed div#mobile-sizes-hidden {
    display: none;
}

aside div#mobile-filter-showed div#mobile-sizes-showed {
    display: flex;
    flex-wrap: wrap;
    padding: 0 35px;
}

aside div#mobile-filter-showed div#mobile-price-ranges-hidden {
    display: none;
}

aside div#mobile-filter-showed div#mobile-price-ranges-showed {
    padding: 0 40px 20px 40px;
    font-size: 0.9rem;
    line-height: 1.4rem;
}

aside div#mobile-filter-showed div#mobile-filter-buttons {
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
}

aside div#mobile-filter-showed div#mobile-filter-buttons > button {
    width: 45%;
    padding: 10px 0;
    cursor: pointer;
    transition: 0.4s;
}

aside div#mobile-ordering-hidden {
    display: none;
}

aside div#mobile-ordering-showed {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

aside div#mobile-ordering-showed div#mobile-ordering-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 10px 20px;
}

aside div#mobile-ordering-showed div#mobile-ordering-header > p {
    color: #aaa;
}

aside div#mobile-ordering-showed div#mobile-ordering-header button#close-mobile-ordering {
    border: none;
    background: none;
    font-size: 2rem;
    cursor: pointer;
    transition: 0.4s;
}

aside div#mobile-ordering-showed div#mobile-ordering-header button#close-mobile-ordering:hover {
    opacity: 0.7;
}

aside div#mobile-ordering-showed > button {
    border: none;
    background: none;
    font-size: 1rem;
    text-align: start;
    padding: 20px 20px;
    cursor: pointer;
    transition: 0.4s;
}

aside div#mobile-ordering-showed > button:hover {
    background-color: #3cb6d4;
    color: #fff;
}
