*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    font-family: "OpenSans", Arial, sans-serif;
    position: relative;
}

header{
    border-bottom: 1px solid #c7c7c7;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width:100%;
    padding: 0px 30px;
}

header #logo{
    max-width: 120px;
    object-fit: contain;
}

header #bag #shop-icon{
    font-size: 24px;
}

header #bag #bag-count{
    color: #fff;
    display: inline-block;
    position: absolute;
    font-weight: 500;
    font-size:12px;
    text-align: center;

    width: 18px;
    height: 18px;
    background-color: #00c0ee;

    margin-left: -8px;
    margin-top: 12px;
    border-radius: 50%;
    line-height: 18px;
}

#container{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin-top: 0;
}

#container #sidebar{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#container #sidebar h1{
    margin: 20px 0px;
    font-weight: 500;
    font-size: 32px;
    color: #333333;
}

.filter-title i{
    display: inline;
}

#order-container #order-mobile{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-y:scroll;
    overflow-x:hidden;
    display: none;
    margin: 0;
}

#order-container #order-mobile span{
    display: block;
    width: 100%;
    padding: 20px 30px;
    color: #333;
    font-size: 18px;
    cursor: pointer;
}

#order-container #order-mobile span:hover{
    text-decoration: underline;
}


#container #sidebar #filters{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    background-color: #fff;
    overflow-y:scroll;
    overflow-x:hidden;
    display: none;
}

.mobile-header{
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    align-items: center;
    border-bottom: #666 solid 1px;
}

.mobile-header i{
    cursor: pointer;
}

.mobile-header h1{
    margin: 20px 0px;
    font-weight: 500;
    font-size: 24px;
    color: #666;
}

#container #sidebar #filters #more-colors{
    display: block;
}

#container #sidebar #filters #more-colors-btn{
    display: none;
}

#select-color, #select-size, #select-price{
    display: none;
}

#container #sidebar #filters .filter-title{
    color: #000;
    font-size: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}

#container #sidebar #filters .filter-title h2{
    font-size: 18px;
}

#container #sidebar #filters > div{
    padding: 0px 20px;
}

#container #sidebar #filters form{
    margin-left: 20px;
}

#container #sidebar #filters label{
    color: #666;
}

#container #sidebar #mobile-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0px 20px;
}

#filter-mobile-buttons{
    display: flex;
    width: 100%;
    justify-content: center;
}

#filter-mobile-buttons button{
    background-color: #fff;
    border: 1px solid #666;
    color: #666;
    padding: 10px 35px;
    margin: 15px;
    cursor: pointer;
}

#filter-mobile-buttons button:hover{
    background-color: #00c0ee;
    color: #fff;
    border: 1px solid #00c0ee;
}

#container #sidebar #mobile-buttons .mobile-button{
    width: 100%;
    height: 50px;
    border: 1px solid #666;
    background-color: transparent;
    color: #666;
    font-size:16px;
    cursor: pointer;
}

#container #sidebar #mobile-buttons .mobile-button:hover{
    color: #000;
    border: 1px solid #000;
}

#order-container #order-desktop{
    display: none;
}

#main{
    display: flex;
    width: 100%;
    flex-direction: column;
}

#main #products{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 1 20%;
    margin: 10px 5px;
}

.product h1{
    font-size: 16px;
    font-weight: 100;
    margin: 10px 0;
}

.product h4{
    font-weight: 400;
    margin: 2px 0px;
}

.product img{
    object-fit: contain;
}

.product span{
    display: inline-block;
    text-align: center;
    width: 100%;
    height: 42px;
    background-color: #000;
    color: #fff;
    line-height: 42px;

}