body{
    margin: 0px;
    color: inherit;
    font-size: inherit;
    font-family: "Open Sans Regular", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 100;  
}

.header_content,
.desktop_home{
    min-width: 68%;
    max-width: 68%;
    margin: 0 auto;
}

.header{    
    padding: 15px 0;
    box-shadow: 0 2px 0 0 rgb(191, 191, 191);
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_cart{
    display: block;
}
.header_cart_count{
    background-color: #2BBFF2;
    font-size: 12px;
    padding: 1px 3px;
    min-width: 14px;
    border-radius: 15px;
    color: white;
    position: absolute;
    text-align: center;
    transform: translate(-20%, 30%); 
}

.home{
    padding: 16px 0;  
}

.home_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.home_container{
    display: flex;

}

.main_title{
    font-size: 32px;
}

.home_header_accordion{
    width: 145px;
    margin: 5.5px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 16%;
}

.accordion_title{
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    width: 145px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    font-family: "Open Sans Regular", sans-serif;
    background-color: #fff;
}
.arrow_symbol{
    position: absolute;
    transform: translateY(-10%) scale(1.3, 0.5);;
    color: black;
    left: 80%;
    margin-bottom: 20px;
    font-size: 18px;
}

.accordion_open_close {
    display: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid black;
    color: #000;
}

.accordion_options{
    padding: 10px;
    text-align: left;
    background-color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
}

.accordion_options:hover{
    background-color: #36bff2;
    color: #fff;
    cursor: pointer;
}

.footer{
    background: #000;
    color: white;
    text-align: center;
    padding:  10px 0;
    font-size: 12px;
}
