@import "./theme.scss";

.checkbox-container {
    input[type="checkbox"] {
        all: unset;
        cursor: pointer;
        outline: 1px solid $border-color;
        outline-offset: 2px;
        margin-left: 5px;
        margin-right: 8px;
        margin-bottom: 0;
        margin-top: 0;
        width: 10px;
        height: 10px;
        display: inline-block;
    }
    input[type="checkbox"]:checked {
        all: unset;
        cursor: pointer;
        background-color: $main-color;
        outline: 1px solid $border-color;
        outline-offset: 2px;
        margin-left: 5px;
        margin-right: 8px;
        margin-bottom: 0;
        margin-top: 0;
        width: 10px;
        height: 10px;
        display: inline-block;
    }
    label {
        cursor: pointer;
        //Desabilita marcacao de texto
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
}

select {
    height: 30px;
    border: 1px solid $border-color;
    padding-right: 20px;
    line-height: 3;
    cursor: pointer;
    option {
        height: 30px;
        cursor: pointer;
        padding-bottom: 50px;
    }
}

button {
    all: unset;
    cursor: pointer;
    background-color: $main-color;
    color: $secondary-font-color;
    text-align: center;
    padding: 7px;
    padding-left: 14px;
    padding-right: 14px;
    //Desabilita marcacao de texto
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
