$main-color: #00c0ee;
$secondary-color: black;
$border-color: gray;

$main-font-color: #333333;
$secondary-font-color: white;

$footer-bg: black;
$footer-text-color: white;

body {
    color: $main-font-color;
    letter-spacing: 1px;
    font-family: "Open Sans";
}

h2 {
    font-weight: 400;
}
