footer{
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: black;
    bottom:0;
    position: fixed;
    width: 100%;
}
footer>p{
    color: white;
    font-family: 'Monteserrat', sans-serif;
    font-weight: bold;
    font-size: 0.8em;
    padding:0.5rem;
}