.container{
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}
.rowIndex-1{
    width: 35%;
}
.rowIndex-2{
    width: 65%;
}
/*----------Mobile---------------*/
@media only screen and (max-width: 600px) {
    .rowIndex-1{
        display: none;
    }
    .rowIndex-2{
        width: 100%;
    }
    .container{
        display: block;
    }
}