.cart-btn{
    position: relative;
    &__circle{
        position: absolute;
        height: 2rem;
        width: 2rem;
        background-color: #2BBFF2;
        top: 50%;
        left: 50%;
        border-radius: 30px;
    }
}

.btn{
    display: block;
    padding: 1.2rem 0;
    font-family: "Open Sans Bold", sans-serif;
    font-weight: 700;
    font-size: 1.4rem;
    color: #fff;
    text-align: center;

    &--black{
        background: #000;
    }

    &--blue{
        display: block;
        margin: 0 auto;
        width: fit-content;
        padding: 1.2rem 2.3rem;
        background: #33BDEF;
    }
}

.size-btn{
    display: inline-block;
    font-family: "Open Sans Bold", sans-serif;
    border: 1px solid #E4E4E4;
    height: 3.2rem;
    width: 3.2rem;
    position: relative;
    color: #A1A1A1;
    cursor: pointer;

    &__checkbox:checked ~ .size-btn{
        border: 1px solid #33BDEF;
        color: #000;
    }
    span{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    &:hover{
        border: 1px solid #33BDEF;
        color: #000;
    }

    &--mobile{
        height: 8rem;
        width: 8rem;
        span{
            font-size: 2.4rem;
        }
    }
}