.options{
    display: none;
}

@media only screen and (max-width: 847px) {
  .options {
    max-width: 56rem;
    margin: 0 auto;
    display: flex;
    margin-bottom: 5rem;

    &__btn {
      display: block;
      width: 50%;
      padding: 2rem;
      text-align: center;
      border: 1px solid #666666;
      font-family: "Open Sans Regular", sans-serif;
      font-size: 2.4rem;
      letter-spacing: 3px;
      color: #666666;
    }
  }
}


@include respond(phone){
    .options {
    padding: 0 1rem;
    }
}