.mb_products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mb_products_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center; 
}

.mb_products_div_itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}
