<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Teste</title>

    <link type="text/css" rel="stylesheet" media="screen" href="/layout/Assets/Css/styleTeste.css"/>
  </head>

<body>    
  <header>
    <img class="iconM3" src="/layout/imagens/logo-m3.png">    
    <img class="iconBagM3" src="/layout/Assets/Imgs/bagM3.png">   
  </header>
  
<!--Filtros-->
  <div class="Content-filter">
      <div class="TitleClothes">
        <h1>Blusas</h1>

        <select class="select_filter_type">
          <option value="">Ordenar por:</option>
          <option value="">Mais recentes</option>
          <option value="">Menor preço</option>
          <option value="">Maior preço</option>
        </select>
      </div>
      
    
      <div class="Content">
        <div class="grid-container-filter">
          <div class="Content-colors">
            <h2>Cores</h2>

            <div class="center-text">
              <input type="checkbox" id="Amarelo" name="Amarelo">
              <label for="Amarelo">Amarelo</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="Azul" name="Azul">
              <label for="Azul">Azul</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="Branco" name="Branco">
              <label for="Branco">Branco</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="Cinza" name="Cinza">
              <label for="Cinza">Cinza</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="Laranja" name="Laranja">
              <label for="Laranja">Laranja</label>
            </div>
          
          </div>

          <div class="Content-tam">
            <h2>Tamanhos</h2>
          </div>

          <div class="Content-Price">
            <h2>Faixa de preço</h2>
            
            <div class="center-text">
              <input type="checkbox" id="" name="">
              <label for="">de R$0 até R$50</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="" name="">
              <label for="">de R$51 até R$150</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="" name="">
              <label for="">de R$151 até R$300</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="" name="">
              <label for="">de R$301 até R$500</label>
            </div>
            <div class="center-text">
              <input type="checkbox" id="" name="">
              <label for="">a partir de R$01</label>
            </div>

          </div>
        </div>

        <div class="grid-container"> 
          <div class="box">
            <img class="" src="/layout/imagens/img_2.png">   
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button>
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_3.png">  
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button> 
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_4.png">  
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button> 
          </div>  

          <div class="box">
            <img class="" src="/layout/imagens/img_5.png"> 
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button>  
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_6.png">  
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button> 
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_7.png">  
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button> 
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_8.png">   
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button>
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_9.png"> 
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button>  
          </div>

          <div class="box">
            <img class="" src="/layout/imagens/img_10.png">
            <p>Camisa Mescla</p>
            <p>R$ 28,00</p>
            <p>até 3x de R$9,33</p>
            <button><span>Comprar</span></button>   
          </div>
        </div>
        
      </div>
    
  </div>

<footer id="footer">
  <p>Agência M3 - Agência de Performance Digital</p>
</footer>
    
</body>

</html>

