<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">

    <title>Teste</title>

    <link type="text/css" rel="stylesheet" media="screen" href="/layout/Assets/Css/styleTeste.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/layout/Assets/scripts/teste.js"></script>
  </head>

<body>    
  <header>
    <!-- <img class="iconM3" src="/layout/imagens/logo-m3.png">-->
    <img class="iconBagM3" src="/layout/Assets/Imgs/bagM3.png">   
  </header>
  
  <div class="FilterAccordion" > 
    <div class="FilterTitle">
      <p>Filtrar</p>
    </div>   

    <div class="AccordionContainer">
      <button class="accordion">Cores</button>
      <div id="PanelCores" class="panel">
      </div>

      <button class="accordion">Tamanhos</button>
      <div id="PanelTam" class="panel">
      </div>

      <button class="accordion">Faixa de preços</button>
      <div id="PanelPreco" class="panel">
        
        <!-- <div>
          <input type="checkbox" name="faixa" value="0/50" id="0/50" class="checkbox-custom" >
          <label for="0/50" class="checkbox-custom-label">de R$0 até R$50</label>
        </div>

        <div>
          <input type="checkbox" name="faixa" value="51/150" id="51/150" class="checkbox-custom" >
          <label for="51/150" class="checkbox-custom-label">de R$51 até R$150</label>
        </div>

        <div>
          <input type="checkbox" name="faixa" value="151/300" id="151/300" class="checkbox-custom" >
          <label for="151/300" class="checkbox-custom-label">de R$151 até R$300</label>
        </div>

        <div>
          <input type="checkbox" name="faixa" value="301/500" id="301/500" class="checkbox-custom" >
          <label for="301/500" class="checkbox-custom-label">de R$301 até R$500</label>
        </div>
        
        <div>
          <input type="checkbox" name="faixa" value="all" id="all" class="checkbox-custom">
          <label for="all" class="checkbox-custom-label">a partir de R$01</label>
        </div> -->
      
      </div>
    </div>

  </div>

  <div class="FilterOrder" >
    <div class="FilterTitle">
      <p>Ordenar</p>
    </div>  

    <div class="FilterOrderBtn"> 
      <button value="recente">Mais recentes</button>
      <button value="menor">Menor preço</button>
      <button value="maior">Maior preço</button>
    </div>
  </div>

  <!--Filtros-->
  <div class="Content-filter">
      <div class="TitleClothes">
        <h1>Blusas</h1>

        <select class="select_filter_type">
          <option value="">Ordenar por:</option>
          <option value="recente">Mais recentes</option>
          <option value="menor">Menor preço</option>
          <option value="maior">Maior preço</option>
        </select>

      </div>
      
      <div class="Content">
        <div class="grid-container-filter">
          
          <!--Filtro de cores-->
          <div id="Colors" class="Content_colors ">
            <h2>Cores</h2>     

          </div>

           <!--Filtro de tamanhos-->
          <div class="Content_tam">  
            <h2>Tamanhos</h2>
            <div id="Tamanhos"> 
           
            </div>            
          </div>

          <!--Filtro de preços-->
          <div id="Faixa_Preco" class="Content_price">
            <h2>Faixa de preço</h2>
            
            <!-- <div>
              <input type="checkbox" name="faixa" value="0/50Desk" id="0/50Desk" class="checkbox-custom" >
              <label for="0/50Desk" class="checkbox-custom-label">de R$0 até R$50</label>
            </div>
    
            <div>
              <input type="checkbox" name="faixa" value="51/150Desk" id="51/150Desk" class="checkbox-custom" >
              <label for="51/150Desk" class="checkbox-custom-label">de R$51 até R$150</label>
            </div>
    
            <div>
              <input type="checkbox" name="faixa" value="151/300Desk" id="151/300Desk" class="checkbox-custom" >
              <label for="151/300Desk" class="checkbox-custom-label">de R$151 até R$300</label>
            </div>
    
            <div>
              <input type="checkbox" name="faixa" value="301/500Desk" id="301/500Desk" class="checkbox-custom" >
              <label for="301/500Desk" class="checkbox-custom-label">de R$301 até R$500</label>
            </div>
            
            <div>
              <input type="checkbox" name="faixa" value="allDesk" id="allDesk" class="checkbox-custom">
              <label for="allDesk" class="checkbox-custom-label">a partir de R$01</label>
            </div> -->

          </div>
        </div>

        <div class="grid_container_filter_mobile">
         
          <div class="FilterOpen">
            <button onclick="OpenFilters()" ><span>Filtrar</span></button>
            <button onclick="OpenOrder()" ><span>Ordenar</span></button>
          </div>

        </div>        
        
         <!--Conteúdo dos produtos-->
        <div id="grid_produtos" class="grid-container"> 
         
        </div>
        
      </div>
    
  </div>

  <footer id="footer">
    <p>Agência M3 - Agência de Performance Digital</p>
  </footer>
    
</body>

</html>

