$white: #ffffff !default;

$black: #000000 !default;
$black-2: rgba(0, 0, 0, 0.5) !default;

$blue: #00C0EE !default;

$gray: #333333 !default;
$gray-2: #DDD !default;
$gray-3: #666666 !default;
$gray-4: #C7C7C7 !default;
$gray-5: rgba(0, 0, 0, 0.5) !default;
