main #filter{
    padding: 2px;
    position: absolute;
    width: 157px;
    height: 648px;
    left: 157px;
    top: 213px;

}
main #filter h2{

    color: #333333;

    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;

}

