
@mixin respond-phone{
    @media (max-width: 600px) {@content };
}

// - phone 600px
// - tab-port 900px
// - tab-land 600px
// - big-desktop 600px

// 1em = 16px

@mixin respond($breakpoint){
    @if $breakpoint == iphonex {
        @media only screen and (max-width: 23.43em) { @content }; //375px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content }; //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content }; //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content }; //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content }; //1800px
    }
}

// 86em = 1.376
// 90em = 1440
//80em = 1280