@import "./app/shared/style/theme.scss";
@import "./app/shared/style/components.scss";

body {
    font-family: Open Sans;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.app-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header-component {
    flex: 0 1 auto;
}

main {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

footer-component{
    flex: 0 1 auto;
}
