label {
  margin-left: 5px;
}

.button-load {
  width: 195px;
  height: 33.5px;
  margin: 0 auto;
  background: $color-blue;
  border-color: $color-blue;
  color: $color-white;
  cursor: pointer;

  @include flex;
}

.dropbtn {
  background-color: $color-white;
  color: $color-black;
  padding: 16px;
  font-size: 1rem;
  border: 1px solid $color-black;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $color-white;
  border: 1px solid $color-black;
  min-width: 146px;
  z-index: 1;
}

.dropdown-content a {
  color: $color-black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: $color-blue;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.checkbox {
  color: $color-black;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border: 1px solid $color-black;
  border-radius: 50%;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  outline: none;
}

.checkbox {
  border-radius: 0;
}

.checkbox:before {
  content: "";
  width: 9px;
  height: 9px;
  background: $color-blue;
  opacity: 0;
  transition: all 50ms ease-in-out;
  position: absolute;
}

.checkbox:checked:before {
  opacity: 1;
}

.checkbox:focus {
  box-shadow: 0 0 5px $color-blue;
}

.check {
  display: flex;
  align-items: center;
}
