header .container {
  max-width: 1500px;
  min-width: 1170px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .logo {
    width: 119px;
    height: 30px;
    margin-left: 162px;
    margin-top: 16px;
  }

  .cadeado {
    width: 17px;
    height: 20px;
    margin-top: 20px;
  }
}

.linha-horizoltal {
  max-width: 1500px;
  border: 1px solid #c7c7c7;
  margin-top: 20px;
}
