.header {
  height: 40px;
  padding: 2%;
  margin: 0 50px 0 50px;
}

.container-header {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.horizontal-line {
  border: 1px solid $color-gray;
  margin-top: 20px;
}
