header .container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; 
}

img .logo{
  width: 119px;
  height: 30px;
  margin-left: 162px;
  margin-top: 16px;
}

img .cadeado{
  width: 17px;
  height: 20px;
  margin-right: 166px;
  margin-top: 20px;
}