section .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 375px) {
    .lists {
      display: flex;
    }
  }
}

section .container-filters {
  padding: 1.5rem 0;
  margin: 0 auto;
  margin-left: 161px;
  margin-right: 161px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .container-orderby {
  padding: 1.5rem 0;
  margin: 0 auto;
  margin-left: 161px;
  margin-right: 161px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  flex-grow: 1;
  flex: 1 1 auto;
}

.product-name {
  font-weight: bold;
  font-size: 1rem;
  text-transform: uppercase;
  color: $color-black;
}

.price {
  font-weight: 700;
  font-size: 1rem;
  color: $color-black;
  line-height: 22px;
}

.parcelamento {
  font-weight: 400;
  font-size: 1rem;
  color: $color-gray2;
}

.content {
  display: flex;
  margin-bottom: 50px;
  padding: 0.5rem 0;
}

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.amount {
  width: 116%;
}

.lists {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  gap: 64px;
}

.rectangle {
  width: 32px;
  height: 32px;
  border: 1px solid $color-gray;
  box-sizing: border-box;

  @include flex;
}

.sizes {
  width: 153px;

  display: grid;
  grid-template-columns: auto;
  flex-wrap: wrap;
}

.grid-size {
  display: grid;
  grid-template-columns: 35px 35px 35px 35px;
  grid-gap: 5px;
}

@include responsive;
