@import "./colors";
main {
    width: 100%;
    height: 100%;
    .sort-container {
        display: flex;
        height: 80px;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        .sorts {
            position: relative;
            top: 20px;
            right: 100px;
            height: 100%;
            width: 130px;
        }
        .sort-mobile {
            display: none;
        }
        .sort {
            border: 1px solid $lightGray;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            height: 30px;
            cursor: pointer;
            img {
                width: 12px;
                height: 9px;
            }
        }
        .sort-options {
            border: 1px solid $lightGray;
            height: 100px;
            background-color: #fff;
            flex-direction: column;
            align-items: center;
            li {
                padding: 5px;
                width: 100%;
                height: 100%;
                cursor: pointer;
                &:hover {
                    background: $blue;
                    color: #fff;
                }
            }
        }
        .sort-options-mob {
            display: none;
        }
    }
    .mobile-filter-btn {
        display: none;
    }
    .main-container {
        width: 100%;
        padding: 10px;
    }
    #cards {
        height: 90vh;
        overflow: hidden;
        width: 100%;
        margin-left: 10px;
        margin-bottom: 10px;
        display: grid;
        grid-template-columns: repeat(6, 120px);
        grid-gap: 50px;
        justify-content: center;
        img {
            width: 100%;
        }
        .card {
            font-family: 'Open Sans', sans-serif;
            width: 220px;
            height: 100%;
            .card-info {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-top: 10px;
                h4 {
                    letter-spacing: 1px;
                    font-weight: bold;
                    font-size: 14px;
                }
                h3 {
                    margin-top: 10px;
                    font-size: 16px;
                    font-weight: 700;
                }
                p {
                    margin-top: 5px;
                    font-size: 16px;
                }
            }
            .card-btn {
                width: 100%;
                button {
                    cursor: pointer;
                    font-family: 'Open Sans', sans-serif;
                    font-weight: bold;
                    color: #fff;
                    border: none;
                    background: #000000;
                    margin-top: 10px;
                    width: 100%;
                    height: 40px;
                }
            }
        }
    }
    .btn-container {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-top: 25px;
        margin-bottom: 20px;
        button {
            cursor: pointer;
            font-family: 'Open Sans', sans-serif;
            font-weight: bold;
            width: 175px;
            height: 35px;
            border: none;
            color: #fff;
            background-color: $blue;
        }
    }
}

.sort-container-mobile {
    display: none;
}

@media (max-width:800px) {
    main {
        .main-container {
            #cards {
                width: 100%;
                grid-gap: 80px;
                grid-template-columns: repeat(4, 50px);
            }
        }
    }
}

@media (max-width:600px) {
    main {
        width: 100%;
        .sort-container {
            right: 100vw;
            width: 100vw;
            transition: all 0.1s ease;
            display: flex;
            background-color: #fff;
            position: absolute;
            height: 150vh;
            img {
                display: none;
            }
            .sorts {
                width: 100%;
                position: initial;
            }
            .sort {
                display: none;
            }
            .sort-options-mob {
                border: none;
                display: block;
                height: 80px;
                margin-top: 20px;
                li {
                    font-size: 20px;
                    margin-left: 10px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    height: 100%;
                }
            }
            .sort-mobile {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                height: 80px;
                border-bottom: 1px solid rgb(165, 165, 165);
                padding: 10px;
                p {
                    color: #333;
                    font-weight: bold;
                    letter-spacing: 2px;
                    font-size: 25px;
                }
                h3 {
                    color: #333;
                    font-size: 25px;
                    font-weight: bold;
                }
            }
        }
        .mobile-filter-btn {
            display: flex;
            font-family: 'Open Sans', sans-serif;
            align-items: center;
            flex-direction: column;
            h1 {
                font-size: 35px;
                font-weight: bold;
            }
            .btn-main-container {
                padding: 10px;
                display: flex;
                width: 100%;
                button {
                    color: $lightGray;
                    letter-spacing: 3px;
                    font-weight: bold;
                    font-size: 20px;
                    border: 1px solid $lightGray;
                    background-color: #fff;
                    font-family: 'Open Sans', sans-serif;
                    height: 50px;
                    margin-top: 10px;
                    width: 100%;
                }
            }
        }
        .main-container {
            #cards {
                margin-top: 20px;
                margin-left: 0;
                grid-template-columns: repeat(4, 60px);
                grid-gap: 50px;
                .card {
                    width: 180px;
                    .card-btn {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media (max-width:390px) {
    main {
        .main-container {
            #cards {
                justify-content: flex-start;
                grid-template-columns: repeat(4, 10px);
                grid-gap: 90px;
                .card {
                    width: 150px;
                }
            }
        }
    }
}

@media (max-width:320px) {
    main {
        .main-container {
            #cards {
                justify-content: flex-start;
                grid-template-columns: repeat(4, 5px);
                grid-gap: 75px;
                .card {
                    width: 150px;
                }
            }
        }
    }
}