section .container {
  max-width: 1920px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.conteudo {
  display: flex;
  margin-bottom: 50px;
  max-width: 1920px;
  padding: 0.5rem 0;
}

section .container-filtros {
  padding: 1.5rem 0;
  margin: 0 auto;
  margin-left: 161px;
  margin-right: 161px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

section .container-orderby {
  padding: 1.5rem 0;
  margin: 0 auto;
  margin-left: 161px;
  margin-right: 161px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
