

h1 {
  font-size: 3.2rem;
  line-height: 100%;
}
h2 {
  font-size: 1.4rem;
  line-height: 100%;
  line-height: 1.9rem;
}

h3 {
  font-size: 1.4rem;
  line-height: 100%;
}

h4 {
  font-size: 1.6rem;
  line-height: 2.2rem;
  line-height: 100%;
  letter-spacing: 5%
}

%p1 {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 100%;
}


p {
  @extend %p1;
}
