$primary-color: #000;
$secundary-color: rgba(0, 0, 0, 0.5);
$tertiary-color: #666666;
$quaternary-color: #00c0ee;
$quintenary-color: #fff;
$container-width: 1170px;

$base-color: #fff;
$axie-color: #000;
