.botton-accordion {
  background: $white-color;

  width: 10rem;
  height: 2.5rem;
  border-radius: 0;
  border: 0.5px solid rgba(0, 0, 0, 0.466);

  cursor: pointer;

  @media (max-width: 768px) {
    display: none;
  }
}

.symbol-botton {
  margin-left: 30px;
  font-size: 15px;
}

.accordion-open {
  display: none;
  position: absolute;
}

.accordion-open.active {
  display: flex;
  flex-direction: column;

  background: $white-color;

  width: 9.9rem;
  height: 9rem;
  max-height: 9rem;
  border: 0.5px solid rgba(0, 0, 0, 0.466);
}

.option-accordion {
  max-width: 100%;
  height: 2.5rem;
  font-size: 16px;
  line-height: 22px;
  padding-top: 10px;
  padding-left: 9px;
}

.option-accordion:hover {
  background: $blue-color;
}

.order-mobily {
  display: none;

  @media (max-width: 768px) {
    display: contents;
  }
}

.btn-mbl {
  background: $white-color;

  font-size: 24px;
  height: 4rem;
  width: 9rem;
  padding: 0.8rem;

  border: 0.3px solid rgba(0, 0, 0, 0.452);
}

.contents-mbl {
  display: none;
}
