/*
    Elementos da página
*/


//checkbox;
span.pricecheck{
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    display: flex;
    padding: 5px;
    label{
        line-height: 1;
        margin-left: 5px;
        font-family: sans-serif;
    }
    input[type='checkbox']{
        all: unset;
        border: 1px solid black;
        width: 12px;
        height: 12px;
        display: inline-block;
        &:checked{
            background-color: #3fbff2;
            width: 12px;
            height: 12px;
        }
    }
}



div.sizebox{
    border: 1px solid black;
    width: 25px;
    height: 25px;
    padding: 5px;
    display: flex;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    label{
        display: block;
        line-height: 25px;
        text-align: center;
        height: 100%!important;
        font-family: sans-serif;
    }

    &.enabled{
        border-color: #3fbff2;
        label{
            color: rgb(19, 19, 19);
        }
    }

    &.disabled{
        border-color: rgb(177, 177, 177);
        label{
            color: rgb(177, 177, 177);
        }
    }
}