/*
    Elementos da página
*/


//checkbox;
span.pricecheck{
    justify-content: flex-start;
    align-items: center;
    vertical-align: middle;
    display: flex;
    width: max-content;
    cursor: pointer;
    label{
        width: fit-content;
        line-height: 1;
        margin-left: 8px;
        font-family: sans-serif;
        font-size: 16px;
        color: rgb(19, 19, 19);
    }
    input[type='checkbox']{
        all: unset;
        border: 1px solid rgb(141, 141, 141);
        width: 14px!important;
        height: 14px!important;
        display: flex;
        &:checked{
            -webkit-box-shadow: 0 0 0 2.5px rgba(255,255,255,1) inset;
            box-shadow: 0 0 0 2.5px rgba(255,255,255,1) inset;
            background-color: #3fbff2;
            width: 14px;
            height: 14px;
        }
    }
}



div.sizebox{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    display: flex;
    align-content: center;
    vertical-align: middle;
    justify-content: center;
    cursor: pointer;
    label{
        margin: auto;
        height: fit-content;
        font-family: sans-serif;
        cursor: pointer;
    }

    &.enabled{
        border-color: #3fbff2;
        label{
            color: rgb(19, 19, 19);
        }
    }

    &.disabled{
        border-color: rgb(177, 177, 177);
        label{
            color: rgb(177, 177, 177);
        }
    }
}

.showcase-item{
    display: flex;
    flex-direction: column;
    
    width: 210px;
    height: 400px;
    //background-color: royalblue;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    
    img{
        height: 300px;
        width: 100%;
        object-fit: contain;
        margin-bottom: 5px;
    }

    label{
        margin-bottom: 5px;
        text-align: center;

        &:nth-of-type(1){
            text-transform: uppercase;
            font-size: 14px;
            color: rgb(19, 19, 19);
            margin-bottom: 10px;
        }

        &:nth-of-type(2){
            text-transform: uppercase;
            font-size: 18px;
            font-weight: bolder;
            color: black;
        }

        &:nth-of-type(3){
            text-transform: lowercase;
            font-size: 14px;
            color: rgb(141, 141, 141);
            margin-bottom: 10px;
        }
    }

}

button{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    float: none;
    z-index: auto;
    width: auto;
    height: auto;
    position: static;
    cursor: pointer;
    opacity: 1;
    margin: 0;
    
    text-transform: uppercase;
    overflow: visible;
    border: none;
    -webkit-border-radius: 0;
    border-radius: 0;
    
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    
    -webkit-box-shadow: none;
    box-shadow: none;
    &.buy-black{
        padding: 12px 35px;
        background: #000000;
        font-size: 14px;
        font-weight: 600;
        font-family: sans-serif;
    }

    &.show-more-blue{
        padding: 12px 25px;
        background: #3fbff2;
        font-size: 14px;
        font-weight: 800;
        font-family: sans-serif;
        width: max-content;
    }


}