.category--container {
  font-family: $font-primary;
  display: flex;
}

.category--filter--open-btn {
  display: none;
  @media (max-width: 768px) {
    display: block;
    width: 8rem;
    height: 50px;
    font-size: 24px;
    color: $gray-color;
    background: $white-color;
    border: 1px solid #a1a1a1;
  }
}
.category--filter-content {
  width: 190px;

  @media (max-width: 768px) {
    display: none;

    &.filterSee {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      box-shadow: 0 2px 0 0 rgb(191 191 191);
      background: $white-color;
      overflow-y: auto;

      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

/*-------------CATEGORY MOBILE------------*/

.category--filter--header-mobile {
  display: none;
  justify-content: space-between;

  box-shadow: 0 2px 0 0 rgb(191 191 191);

  @media (max-width: 768px) {
    display: flex;
    .category--filter--header-mobile--title,
    .close {
      padding: 1rem;
      color: $font-color;

      font-size: 28px;
      line-height: 38px;
    }
  }
}

.category--filter_orderby-mobile--container {
  display: flex;
  flex-direction: column;

  @media (max-width: 768px) {
    margin: auto;
    flex-direction: row;

    max-width: 20rem;
  }
}

.category--filter-content-title {
  color: $font-color;

  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.05em;

  @media (max-width: 768px) {
    font-size: 24px;
    margin: 1rem;
    justify-content: space-between;
    display: flex;
  }

  .category--filter-content-title-arrow {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

/*-------------COLOR AND PRICE------------*/

.category--filter-content--price-options,
.category--filter-content--color-options {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  flex-direction: column;

  .color-checkbox-wrapper,
  .price-checkbox-wrapper {
    margin: 5px 0;
    font-size: 14px;
  }

  input[type="checkbox"] {
    position: relative;
    margin: 0px;
    cursor: pointer;

    width: 16px;
    height: 16px;
  }

  input[type="checkbox"]::before {
    content: "";
    display: block;
    position: absolute;

    background-color: #fff;

    width: 14px;
    height: 14px;
    border: 1px solid rgb(90, 89, 89);
  }

  input[type="checkbox"]:checked::after {
    content: "";
    display: block;
    position: absolute;

    background-color: $blue-color;

    width: 10px;
    height: 10px;
    margin: 3px;
    margin-top: 3px;
  }
}

@media (max-width: 768px) {
  .category--filter-content--color-options {
    display: none;

    &.colorSee {
      display: flex;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-direction: column;
      margin-left: 10px;
    }
  }
}

@media (max-width: 768px) {
  .category--filter-content--price-options {
    display: none;
    &.priceSee {
      display: block;
      margin-left: 10px;
    }
  }
}

.category--filter-content--color-options-seeMore {
  @media (max-width: 768px) {
    display: none;
  }
  display: flex;
  width: fit-content;
  margin: 10px 0;

  cursor: pointer;

  &.active {
    display: none;
    margin: 0 0;
  }

  .category--filter-content--color-options-seeMore-title {
    display: flex;
    font-weight: normal;
    font-size: 12px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #666666;

    margin-right: 4px;

    .arrow {
      color: #666666;
      width: 9px;
    }
  }
}

.category--filter-content--color-options-another-colors {
  display: none;
  @media (max-width: 768px) {
    display: grid;
  }

  &.active {
    display: grid;
  }
}

/*-------------SIZE------------*/

.category--filter-content--size-options {
  display: flex;
  flex-wrap: wrap;

  margin-top: 20px;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    display: none;

    &.sizeSee {
      display: flex;
    }
  }

  .size-checkbox-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  input[type="checkbox"] {
    display: none;

    &:checked {
      + .option-size {
        border-color: $blue-color;
        color: $black-color;
        font-weight: 800;
      }
    }
  }

  .option-size {
    display: inline-block;
    font-family: $font-primary;
    border: 1px solid #e4e4e4;
    height: 36px;
    width: 36px;
    margin: 4px;
    position: relative;
    color: #a1a1a1;
    cursor: pointer;
  }

  .option-size:checked {
    border-color: $blue-color;
    color: $black-color;
    font-weight: 800;
  }

  .one-iten {
    position: absolute;
    left: 11px;
    top: 10px;
  }

  .two-itens {
    position: absolute;
    left: 7px;
    top: 10px;
  }
}

/*-------------ACTION_ MOBILE------------*/

.category--filter-content--actions-mobile {
  display: none;

  @media (max-width: 768px) {
    display: none;

    &.seeAction {
      display: block;
      text-align: center;
      padding-bottom: 2rem;

      .category--filter-content--actions-mobile--clean {
        width: 9rem;
        height: 2.5rem;

        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0.418);
      }

      .category--filter-content--actions-mobile--apply {
        background: $blue-color;
        color: $white-color;
        margin-right: 1rem;
        border: 0;
        width: 9rem;
        height: 2.5rem;
        margin-left: 5px;

        font-size: 14px;
      }

      .category--filter-content--actions-mobile--clean {
        background: $white-color;
      }
    }
  }
}
