/* COLOR */
.option-color {
  margin-top: 20px;
  margin-bottom: 20px;
}

label {
  margin-left: 5px;
}

input[type="checkbox"] {
  position: relative;
  cursor: pointer;
  margin: 5px;
}
input[type="checkbox"]:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border: 0.2px solid rgb(90, 89, 89);
  background-color: #fff;
}
input[type="checkbox"]:checked:before {
  content: "";
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;

  background-color: $blue-color;
}

/* SIZE */

.size {
  margin-top: 2rem;
}

.option-size-botton {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 15px;
  margin-bottom: 20px;

  input[type="checkbox"] {
    display: none;
  }
}

.lbl-size {
  display: inline-block;
  font-family: $font-primary;
  border: 1px solid #e4e4e4;
  height: 36px;
  width: 36px;
  margin: 5px;
  position: relative;
  color: #a1a1a1;
  cursor: pointer;
}

.one-iten {
  position: absolute;
  left: 11px;
  top: 10px;
}

.two-itens {
  position: absolute;
  left: 7px;
  top: 10px;
}

/* PRICE */
