.loadMoreBtnContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  #loadMoreBtn {
    padding: 8px 31px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #00c0ee;
    border: none;
    margin-bottom: 35px;
    margin-top: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
      background-color: #0099cc;
    }
    @media (max-width: 768px) {
      margin-top: 40px;
    }
  }
}

.footerContainer {
  background-color: #000000;
  height: 33px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Open-sans", sans-serif;
  font-size: 14px;

  @media (max-width: 280px) {
    font-size: 10px;
  }
}

.footerBtn {
  margin-bottom: 30px;
  margin-top: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 23px;
  .applyModal {
    padding: 8px 52px;
    font-size: 14px;
    color: white;
    background-color: #00c0ee;
    border: none;
    border: 1px solid #00c0ee;
    @media (max-width: 280px) {
      padding: 8px 30px;
    }
  }
  .resetModal {
    padding: 8px 52px;
    font-size: 14px;
    color: #666666;
    background-color: white;
    border: none;
    border: 1px solid #666666;

    @media (max-width: 280px) {
      padding: 8px 30px;
    }
  }
}
