header {
  width: 100%;
  height: 64px;
  padding: 0px 30px;
  border-bottom: 2px solid $border-header;
  @include flex(center, center);

  .container {
    @include flex(space-between, stretch);
    img {
      width: 119px;
    }

    .cart-icon {
      width: 20px;
      height: 23px;
      position: relative;
      top: 5px;

      .cart-icon__handbag {
        width: 17px;
        height: 100%;

        .handbag__strap {
          width: 11px;
          height: 11px;
          border-radius: 50%;
          border: 2px solid $black;
          position: absolute;
          bottom: 14px;
          left: 3px;
        }
        .handbag__body {
          width: 100%;
          height: 17px;
          margin-top: 3px;
          background-color: $black;
        }
      }

      .cart-icon__circle {
        min-width: 12px;
        min-height: 12px;
        border-radius: 50%;
        background-color: $primary-color;
        position: absolute;
        bottom: -1px;
        left: 8px;
        font-size: 10px;
        @include flex(center, center);
        color: $white-color;
        @include typography($second-family, $main-weight);
        padding: 2px;
      }
    }
  }
}

@media (min-width: 1100px) {
  header {
    container {
      padding: 0;
    }
  }
}
