header{
  border-bottom: 2px solid #c7c7c7;
  display: flex;
  justify-content: center;
  padding: 16px;
  margin-bottom: 40px;
  width: 100%;
}
.container-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

.fa-bag-shopping{
  color: #000;
  font-size: 20px;
}

#cart-link{
  height: 20px;
  position: relative;
  cursor: pointer;
}

.cart-content-counter{
  position: absolute;
  background-color: #00c0ee;
  height: 10px;
  padding: 2px 3px;
  border-radius: 12px;
  min-width: 10px;
  top: 70%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  span{
    color: #fff;
    text-align: center;
    font-size: 10px;
  }
}
