.shopping-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
    label.title{
        font-size: 20px;
        font-weight: 600;
    }
}