@import "reset";

body,
button {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 1200px;
  margin: 0 auto;

  .contain {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    align-items: center;

    .bag-cart {
      position: relative;

      i.ph-handbag-simple-fill {
        font-size: 1.3rem;
      }

      span {
        background-color: #00c0ee;
        border-radius: 50px;
        color: #fff;
        font-size: 0.857rem;
        padding: 0px 3px;
        position: absolute;
        bottom: 0;
        left: 12px;
      }
    }
  }
}

hr {
  padding: 0;
  margin: 0;
  height: 2px;
  background-color: #c7c7c7;
  border: none;
}

.container {
  width: 1200px;
  margin: 0 auto;

  .product-header {
    display: flex;
    justify-content: space-between;
    padding: 2.5rem 0;
    align-items: center;
    h2 {
      font-size: 2rem;
    }

    .order {
      position: relative;

      .product-order {
        display: flex;
        align-items: center;
        border: 1px solid rgba(0, 0, 0, 0.5);
        padding: 0.625rem;
        cursor: pointer;
        background: transparent;

        span {
          font-size: 1rem;
        }
      }

      .orderBy {
        display: block;
        opacity: 0;
        visibility: hidden;
        border: 1px solid rgba(0, 0, 0, 0.5);
        position: absolute;
        left: 2px;
        top: 43px;

        &.show {
          opacity: 1;
          visibility: visible;
        }

        button {
          width: 100%;
          border: none;
          background: transparent;
          text-align: left;
          cursor: pointer;
          padding: 0.37rem 1.3rem 0.37rem 0.2rem;

          &:hover {
            background-color: #00c0ee;
            color: #fff;

            span {
              color: #fff;
            }
          }

          span {
            color: #000;
            font-size: 1rem;
          }
        }

        div {
          &:focus {
            background-color: #00c0ee;
            color: #fff;
          }
          span {
            display: block;
            padding: 8px 4px;
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
              background-color: #00c0ee;
              color: #fff;
            }
          }
        }
      }

      .filters-mobile {
        display: none;
      }

      .product-order-mobile {
        display: none;
      }

      .orderByMobile {
        display: none;
      }
    }
  }

  .product-list {
    display: flex;
    .filter-container {
      width: 20%;
      .filter {
        margin-bottom: 1.5rem;
      }

      h2 {
        text-transform: uppercase;
        padding: 0.937rem 0;
      }

      span {
        font-size: 0.93rem;
      }

      .colors {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        .color {
          input,
          label {
            cursor: pointer;
          }

          input[type="checkbox"] {
            position: absolute;
            z-index: -1;
            opacity: 0;
          }

          input[type="checkbox"] + label {
            position: relative;
            cursor: pointer;
            padding-left: 30px;
            font-size: 0.875rem;
          }

          input[type="checkbox"] + label::before {
            content: "";
            position: absolute;
            width: 16px;
            height: 16px;
            left: 0;
            bottom: 0;
            border: 1px solid rgba(0, 0, 0, 0.5);
            vertical-align: bottom;
          }

          input[type="checkbox"]:checked + label::after {
            content: "";
            position: absolute;
            width: 12px;
            height: 12px;
            border: 0;
            background-color: #00c0ee;
            bottom: 3px;
            left: 3.2px;
          }
        }
      }

      .sizes {
        color: rgba(0, 0, 0, 0.5);
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(4, 0.1fr);
        .size {
          width: 32px;
          border: 1px solid rgba(0, 0, 0, 0.5);
          height: 32px;
          display: flex;
          justify-content: center;
          align-items: center;
          position: relative;

          &:hover {
            border: 1px solid #00c0ee;
            color: #000;
            cursor: pointer;
          }

          span {
            padding: 5px 8px;
          }
        }
      }

      .prices {
        display: flex;
        flex-direction: column;
        gap: 0.75rem;

        input[type="checkbox"] {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        input[type="checkbox"] + label {
          position: relative;
          cursor: pointer;
          padding-left: 30px;
          font-size: 0.875rem;
        }

        input[type="checkbox"] + label::before {
          content: "";
          position: absolute;
          width: 16px;
          height: 16px;
          left: 0;
          bottom: 0;
          border: 1px solid rgba(0, 0, 0, 0.5);
          vertical-align: bottom;
        }

        input[type="checkbox"]:checked + label::after {
          content: "";
          position: absolute;
          width: 12px;
          height: 12px;
          border: 0;
          background-color: #00c0ee;
          bottom: 3px;
          left: 3.2px;
        }
      }
    }

    .product-list-content {
      width: 70%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 5rem;
      gap: 2.62rem 4.04rem;

      .product {
        display: flex;
        flex-direction: column;
        align-items: center;
      }

      .product-image {
        display: flex;
        justify-content: center;
      }

      h3 {
        font-size: 0.93rem;
        text-transform: uppercase;
        padding: 10px;
      }

      p.price {
        font-weight: 700;
        margin-bottom: 0.06rem;
      }

      .price-parcel {
        color: #666;
      }

      button {
        width: 100%;
        margin-top: 0.93rem;
        background: #000;
        color: #fff;
        padding: 0.43rem 3.87rem;
        font-size: 0.93rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
      }
    }
  }
}

.showMore {
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;

  button#showMore {
    background: #00c0ee;
    color: #fff;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 700;
    padding: 0.5rem 1.93rem;
    transition: background-color 0.2s;

    &:hover {
      background-color: #0acafa;
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  height: 2.06rem;
  width: 100%;
  margin-top: 2.18rem;
  bottom: 0;
  position: fixed;

  p {
    color: #fff;
    font-size: 0.87rem;
    text-transform: uppercase;
  }
}

@media (max-width: 740px) {
  header {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;

    .contain {
      padding: 1rem 1.2rem;
    }
  }

  .container {
    width: 100vw;
    margin: 0 auto;
    overflow: hidden;

    .product-header {
      display: block;
      h2 {
        font-size: 2rem;
        display: flex;
        justify-content: center;
        margin-bottom: 0.75rem;
      }

      .order {
        display: flex;
        justify-content: center;

        .product-order {
          display: none;
        }

        .orderBy {
          display: none;
        }

        .filters-mobile {
          display: flex;
          width: 90%;

          .product-filter-mobile {
            display: block;
            background: transparent;
            border: 1px solid #666666;
            color: #666;
            padding: 0.5rem 2.187rem;
            font-size: 1.25rem;
            width: 50%;
          }

          .filterByMobile {
            visibility: hidden;
            opacity: 0;
            display: none;

            h3 {
              display: flex;
              justify-content: space-between;
              font-size: 1.75rem;
              padding: 1rem;
              color: #666;
              border-bottom: 1px solid #666666;
              margin-bottom: 1.875rem;
            }

            &.show {
              display: block;
              opacity: 1;
              visibility: visible;
              position: fixed;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background-color: #fff;
              z-index: 999;
              display: block;
            }
          }

          .product-order-mobile {
            display: block;
            background: transparent;
            border: 1px solid #666666;
            color: #666;
            padding: 0.5rem 2.187rem;
            font-size: 1.25rem;
            width: 50%;
          }

          .orderByMobile {
            visibility: hidden;
            opacity: 0;

            h3 {
              display: flex;
              justify-content: space-between;
              font-size: 1.75rem;
              padding: 1rem;
              color: #666;
              border-bottom: 1px solid #666666;
              margin-bottom: 1.875rem;
            }

            button {
              width: 100%;
              border: none;
              background: transparent;
              text-align: left;
              cursor: pointer;
              padding: 0.37rem 1.3rem 0.37rem 1rem;
            }

            &.show {
              opacity: 1;
              visibility: visible;
              position: fixed;
              top: 0;
              left: 0;
              bottom: 0;
              right: 0;
              background-color: #fff;
              z-index: 999;
              display: block;
            }

            button {
              span {
                font-size: 1.375rem;
              }
            }
          }
        }
      }
    }

    .product-list {
      display: block;

      .filter-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        visibility: hidden;
        opacity: 0;
        height: 0;
      }

      .product-list-content {
        width: 100vw;
        grid-template-columns: repeat(2, 0.1fr);
        margin-bottom: 5rem;
        gap: 0.5rem 0;

        .product {
          width: 181px;
          img {
            width: 165px;
          }

          h3 {
            text-align: center;
          }
        }

        button {
          width: 80%;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}
