main{

    .section-title{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 400;
        font-family: sans-serif;
        line-height: 1;
        margin-top: 25px;
        margin-bottom: 12px;
    }
    
    .shopping-heading{
        display: flex;
        width: 100%;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
        label.title{
            font-size: 40px;
            font-weight: 200;
        }
    
        
        .select-ordernation-filter-container{
            overflow:hidden;
            select {      
                margin-top: 5px;
                width: 150px;
                height:35px;
                font-family:Arial, Helvetica, sans-serif;
                font-size:13px; 
                padding:2px 5px 2px 5px;
                color:#000;
                
                option{
                    height: 65px;
                }
                option:hover{
                    background-color: black!important;
                    box-shadow: 0 0 10px 100px #000 inset;
                }
            }
        }
    }

    .shopping-filter-menu-container{
        display: flex;
        flex-direction: column;
        width: 280px;
        padding-right: 25px;

        .colors-filter-container{
            display: flex;
            flex-direction: column;
            span{
                margin-bottom: 10px;
            }
        }

        .price-range-filter-container{
            display: flex;
            flex-direction: column;
            span{
                margin-bottom: 10px;
            }
        }
        
        .size-filter-container{
            display: flex;
            justify-content: flex-start;
            flex-wrap: wrap;
            .sizebox{
                
                margin-right: 8px!important;
                margin-bottom: 8px!important;
            }
        }
    }

    .shopping-showcase-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
}