@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

$primary-color: #00C0EE;
$black-100: #000000;
$grey-100: #00000080; 
$grey-200: #666666;
$font-family: 'Open Sans', sans-serif;

.app-container {
  font-family: $font-family;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;

  background-color: #ffffff;

  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 40px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar__first-element {
  margin-left: 10vw;
}

.navbar__second-element {
  margin-right: 10vw;
}

.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 88px 10vw 0;
}

.page-header__title {
  text-transform: capitalize;

  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0em;
}

.main-content {
  margin: 54px 10vw 0;

  display: flex;
  flex: 1;
}

.aside-content {
  width: 160px;

  margin-right: 44px;
}

.filters-form {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 64px;
  justify-content: center
}