main {
  margin-top: 40px;

  .container {
    padding: 0px 30px;
  }
  .filterOrderArea {
    .filterOrderArea__firstArea {
      @include flex(stretch, center);
      flex-direction: column;

      h1 {
        @include typography("open sans", 400);
        font-size: 32px;
        color: $title-color;
      }

      .firstArea__actions {
        width: 100%;
        display: flex;
        margin-top: 18px;
        button {
          width: 50%;
          height: 49px;
          @include flex(center, center);
          border: 1px solid $gray2;
          background: none;
          @include typography("open sans", 400);
          font-size: 24px;
          color: $gray2;
          text-transform: capitalize;
        }

        button:first-child {
          border-right: 0px;
        }
      }

      .filterOrderArea__filter {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        display: none;

        .filter__title {
          width: 100%;
          height: 70px;
          @include flex(space-between, center);
          padding: 0px 16px;
          border-bottom: 1px solid $gray2;
          margin-bottom: 30px;

          h2 {
            @include typography("open sans", 400);
            font-size: 28px;
            text-transform: uppercase;
            color: $gray2;
          }
        }

        .filter__body {
          padding: 0px 16px;
          display: flex;
          flex-direction: column;
          overflow: auto;
          padding-bottom: 30px;

          .filter__body__section {
            margin-bottom: 30px;
            display: flex;
            flex-direction: column;

            .section__title {
              @include flex(space-between, stretch);
              margin-bottom: 20px;

              h3 {
                @include typography("open sans", 400);
                font-size: 24px;
                letter-spacing: 0.05em;
                text-transform: uppercase;
                color: $gray2;
              }

              .open {
                width: 13px;
                height: 13px;
                border-left: 1px solid $gray2;
                border-bottom: 1px solid $gray2;
                transform: rotate(-45deg);
              }
            }

            .section__body {
              display: flex;
              flex-direction: column;

              label {
                margin-bottom: 16px;
                @include typography("open sans", 400);
                font-size: 14px;
                color: $black;
                text-transform: capitalize;

                .checkbox {
                  width: 16px;
                  height: 16px;
                  border: 1px solid $black;
                  display: inline-flex;
                  justify-content: center;
                  align-items: center;
                  border: 1px solid $gray1;
                  margin-right: 10px;

                  input {
                    display: none;
                  }
                  .marked {
                    width: 10px;
                    height: 9px;
                    background: transparent;
                    display: block;
                  }
                }
              }
            }

            .section__body--size {
              width: 152px;
              display: grid;
              grid-template-columns: repeat(4, 40px);
              row-gap: 8px;

              label {
                margin: 0;

                input {
                  display: none;
                }
              }
            }

            .size__item {
              width: 32px;
              height: 32px;
              border: 1px solid $gray1;
              display: inline-flex;
              justify-content: center;
              align-items: center;
              border: 1px solid $gray1;
              margin-right: 10px;

              @include typography("open sans", 400);
              font-size: 16px;
              letter-spacing: 0.05em;
              text-transform: uppercase;
              color: $gray1;

              input {
                display: none;
              }
            }
          }

          .filter__body__actions {
            @include flex(space-between, stretch);
            justify-content: center;
            gap: 50px;

            .action__button {
              width: 160px;
              height: 35px;
              @include flex(center, center);
              background: transparent;
              border: 1px solid $gray2;
              @include typography("open sans", 400);
              font-size: 14px;
              text-transform: uppercase;
              color: $gray2;
              padding: 8px 31px;
            }

            .action__button--blue {
              background-color: $primary-color;
              color: $white-color;
            }
          }
        }
      }
    }

    .filterOrderArea__order {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $white-color;
      display: flex;
      flex-direction: column;
      display: none;
      .order__title {
        width: 100%;
        height: 38px;
        @include flex(space-between, center);
        padding: 0px 16px;
        border-bottom: 1px solid $gray2;
        margin-bottom: 30px;

        h2 {
          @include typography("open sans", 400);
          font-size: 28px;
          text-transform: uppercase;
          color: $gray2;
        }

        .order__title__desktop {
          display: none;
        }

        .open {
          display: none;
        }
      }

      .order__body {
        padding: 0px 16px;
        display: flex;
        flex-direction: column;
        overflow: auto;
        padding-bottom: 30px;
        background-color: $white-color;

        .order__body__option {
          background: none;
          @include typography("open sans", 400);
          font-size: 22px;
          color: $black;
          margin-bottom: 30px;
          width: fit-content;
        }
      }
    }
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 18px 25px;
    margin-top: 35px;
    max-width: 716px;
    margin-left: auto;
    min-height: 680px;

    .card {
      width: 100%;
      max-width: 190px;
      img {
        width: 100%;
        height: 242px;
        object-fit: cover;
        margin-bottom: 8px;
      }

      h3 {
        @include typography("open sans", 400);
        font-size: 14px;
        text-align: center;
        text-transform: uppercase;
        color: $black;
        margin-bottom: 8px;
        word-wrap: break-word;
      }

      span {
        @include typography("open sans", 700);
        font-size: 16px;
        text-align: center;
        color: $black;
        margin-bottom: 5px;
        display: block;
        text-align: center;
      }

      p {
        @include typography("open sans", 400);
        font-size: 16px;
        text-align: center;
        color: $gray2;
        margin-bottom: 11px;
      }

      button {
        width: 100%;
        height: 33px;
        background-color: $black;
        @include typography("open sans", 700);
        font-size: 14px;
        text-transform: uppercase;
        color: $white-color;
      }
    }
  }

  .loadMore__area {
    margin-top: 39px;
    margin-bottom: 44px;
    @include flex(center, stretch);
    .loadMore__area__button {
      width: 175px;
      height: 35px;
      background: $primary-color;
      @include typography("open sans", 700);
      font-size: 14px;
      text-transform: uppercase;
      color: $white-color;
      margin: auto;
    }
  }
}

@media (min-width: 690px) {
  main {
    .container {
      .showcase {
        grid-template-columns: repeat(3, 1fr);
        margin-right: auto;
      }
    }
  }
}

@media (min-width: 1100px) {
  main {
    .container {
      .filterOrderArea {
        @include flex(space-between, stretch);
        height: 70px;

        .filterOrderArea__firstArea {
          align-items: flex-start;

          .firstArea__actions {
            display: none;
          }

          .filterOrderArea__filter {
            display: flex;
            position: initial;

            .filter__title {
              display: none;
            }

            .filter__body {
              padding: 0;
              margin-top: 65px;

              .filter__body__section {
                .section__title {
                  h3 {
                    font-size: 16px;
                    color: $title-color;
                  }

                  .open {
                    display: none;
                  }
                }
              }

              .filter__body__actions {
                display: none;
              }
            }
          }
        }

        .filterOrderArea__order {
          position: initial;
          display: flex;
          width: 142px;
          z-index: 1;

          .order__title {
            border: 1px solid $gray2;
            padding: 10px;
            margin: 0;
            .order__title__mobile {
              display: none;
            }
            .order__title__desktop {
              display: block;
              font-size: 16px;
              text-transform: capitalize;
            }

            .open {
              display: block;
              width: 10px;
              height: 10px;
              border-left: 1px solid $gray2;
              border-bottom: 1px solid $gray2;
              transform: rotate(-45deg);
            }

            .close {
              display: none;
            }
          }

          .order__body {
            overflow: initial;
            padding: 0px;
            border: 1px solid $gray1;
            transition: all ease 0.3s;
            display: none;
            .order__body__option {
              font-size: 16px;
              margin: 0;
              width: 100%;
              text-align: start;
              padding-left: 10px;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1262px) {
  main {
    .container {
      padding: 0;
      .showcase {
        margin-right: 142px;
      }
    }
  }
}
