@import "variables";

.modal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  color: $black;
  background-color: $white;
  display: none;
  z-index: 999;
  opacity: 0;
  pointer-events: none;
  overflow-y: scroll;
  // overflow-x: hidden;
}

.show-modal {
  opacity: 1;
  pointer-events: visible;
}

.modal-title {
  display: flex;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  font-size: 28px;
  border-bottom: 1px solid $black;
}
