.custom-dropdown{
  padding: 10px;
  font-size: 16px;
  appearance: none;
}

.filter-title{
  margin: 24px 0;
}

.listed-color{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.custom-checkbox{
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
  cursor: pointer;
}

.check{
  width: 10px;
  height: 10px;
  background-color: #00C0EE;
}

input[type="checkbox"]{
  display: none;
}

input[type="checkbox"]+label{
  cursor: pointer;
}

#filters{
  justify-self: start;
}

#sizes{
  width: 170px;
  display: flex;
  flex-wrap: wrap;
}

.size{
  margin: 4px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  border: solid 1px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  &:hover{
    color: #000;
  }
}

.chosen{
  color: #000;
  border: solid 1px #00C0EE;
}

.listed-price-range{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

input[type="radio"]{
  display: none;
}

input[type="radio"]+label{
  cursor: pointer;
}
