#products{
  display: flex;
  max-width: 950px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.hidden-info{
  display: none;
}

.product{
  width: 195px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 21px 32px auto;
}

.product-name{
  font-size: 14px;
  text-transform: uppercase;
  margin: 10px 0 ;
  width: 100%;
}

.product-price{
  width: 100%;
  font-size: 16px;
  font-weight: 700;
  margin: 1px;
}

.parcelamento{
  font-size: 16px;
  color: #666;
  font-weight: 400;
}

.comprar{
  background-color: #000;
  color: #fff;
  font-weight: 700;
  text-align: center;
  padding: 7px;
  width: 100%;
  margin-top: 14px;
  height: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filler{
  width: 195px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 32px auto;
}
