.category--filter-content--product {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 7rem;

  @media (max-width: 768px) {
    margin-left: 16px;
    margin-top: 35px;
  }

  .category--filter-content--product--product-load {
    display: flex;
    flex-wrap: wrap;
    margin-left: 45px;
  }
  .product-itens-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;

    margin-right: 8rem;
    @media (max-width: 768px) {
      margin-right: 0px;
    }

    .product-itens {
      display: flex;
      flex-direction: column;
      align-items: center;

      margin: 18px;
    }

    .product-name {
      text-transform: uppercase;

      margin-top: 8px;
      margin-bottom: 5px;
      letter-spacing: 1px;
      font-size: 14px;
      line-height: 19px;
    }

    .product-price {
      font-weight: bold;

      margin-bottom: 2px;
      font-size: 16px;
      line-height: 22px;
    }
    .product-parcel {
      color: $gray-color;

      font-size: 16px;
      line-height: 22px;
    }
    .product-buy {
      background-color: $black-color;
      color: $white-color;

      font-weight: 800;
      margin-top: 8px;
      width: 100%;
      height: 40px;
      border: 0px solid;
    }
  }

  .product-load {
    text-align: center;

    font-weight: 700;
    font-size: 14px;
    width: 175px;
    height: 35px;
    padding: 8px 31px;

    background: $blue-color;
    color: $white-color;

    cursor: pointer;
    display: none;

    @media (max-width: 768px) {
      margin-bottom: 44px;
      margin-top: 39px;
    }

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
