* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Open sans;
}

a {
  text-decoration: none;
}

li,
ol,
ul {
  list-style: none;
  list-style-type: none;
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 20px;
  margin-top: 5px;
}

img {
  max-width: 100%;
}

body {
  width: 100%;
}
