@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$color-primary: #00c0ee;
$color-secondary: #000000;
$color-gray-dark: #666666;
$color-gray-light: #00000080;
$font-color-primary: #333333;
$font-color-secondary: #ffffff;

body {
  font-family: "Open Sans", sans-serif;
}

header {
  width: 100%;
  height: auto;
  padding: 16px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #c7c7c7;
}

.products-identification {
  width: 100%;
  height: auto;
  padding: 40px 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 2rem;
    color: $font-color-primary;
  }

  #category-select {
    position: relative;
    width: 150px;
  }

  #options-view-button {
    all: unset;

    position: absolute;
    inset: 0;

    cursor: pointer;
    z-index: 3;
  }

  #select-button {
    min-width: 150px;
    min-height: 42px;
    border: 1px solid rgba($color-secondary, 0.5);
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #options {
    width: 150px;
    height: auto;
    list-style: none;
    margin-top: 0;
    background-color: $font-color-secondary;
    border: 1px solid rgba($color-secondary, 0.5);
    display: none;
    z-index: 10;
    position: absolute;
  }

  .option {
    position: relative;
    padding: 10px 0 10px 10px;
  }

  .option:hover {
    background-color: $color-primary;
    color: $font-color-secondary;
  }

  .option input[type="radio"] {
    all: unset;

    position: absolute;
    inset: 0;

    cursor: pointer;
  }

  #category-select:has(#options-view-button:checked) + #options {
    display: block;
  }
}

main {
  // width: 100%;
  display: flex;
  padding: 26px 0 0 150px;

  .filters-desktop {
    width: 20%;

    h3 {
      font-size: 1rem;
      color: $font-color-primary;
      padding-bottom: 24px;
    }

    .filter-colors,
    .filter-sizes,
    .filter-prices {
      padding-bottom: 24px;
    }

    .filter-colors {
      .colors-options {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          display: flex;
          cursor: pointer;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
          border: 1px solid rgba($color-secondary, 0.4);
          background-color: $font-color-secondary;
          margin-right: 10px;

          input {
            appearance: none;
            width: 100%;
            height: 100%;
            margin: 0;
          }

          input:checked {
            background-color: $color-primary;
            border: 3px solid $font-color-secondary;
          }
        }
      }
    }

    .filter-sizes {
      .sizes-options {
        width: 70%;
        display: flex;
        gap: 8px;
        flex-wrap: wrap;

        .size {
          width: 32px;
          height: 32px;
          border: 1px solid $color-gray-light;
          text-align: center;
          padding-top: 6px;
          color: $color-gray-light;
          cursor: pointer;
        }

        .size:hover {
          border: 1px solid $color-primary;
          color: $color-secondary;
        }

        .active {
          border: 1px solid $color-primary;
          color: $color-secondary;
        }
      }
    }

    .filter-prices {
      .price-options {
        display: flex;
        flex-direction: column;
        gap: 10px;

        label {
          display: flex;
          cursor: pointer;
        }

        div {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 16px;
          height: 16px;
          border: 1px solid rgba($color-secondary, 0.4);
          background-color: $font-color-secondary;
          margin-right: 10px;

          input {
            appearance: none;
            width: 100%;
            height: 100%;
            margin: 0;
          }

          input:checked {
            background-color: $color-primary;
            border: 3px solid $font-color-secondary;
          }
        }
      }
    }
  }

  .container-products {
    width: 80%;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;

    #products {
      width: 100%;
      display: flex;
      justify-content: center;
      gap: 64px;
      flex-wrap: wrap;

      .product {
        width: 260px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .product-image {
          max-width: 195px;
          transition: all 0.4s ease-in-out;
        }

        .product-image:hover {
          scale: 1.06;
        }

        .product-description {
          text-transform: uppercase;
          text-align: center;
          font-size: 0.875rem;
          color: $color-secondary;
          padding: 10px 0;
        }

        .product-price {
          font-size: 1rem;
          font-weight: 700;
          color: $color-secondary;
          padding-bottom: 6px;
        }

        .product-installment {
          font-size: 1rem;
          color: $color-gray-dark;
          padding-bottom: 15px;
        }

        .product-button {
          width: 100%;
          max-width: 195px;
          min-height: 33px;
          border: none;
          background-color: $color-secondary;
          color: $font-color-secondary;
          font-size: 0.875rem;
          font-weight: 700;
          letter-spacing: 1px;
          cursor: pointer;
          transition: all 0.3s ease-in-out;
        }

        .product-button:hover {
          background-color: rgba($color-secondary, 0.8);
          scale: 1.05;
        }
      }
    }

    #load-more {
      width: 175px;
      height: 35px;
      border: none;
      background-color: $color-primary;
      color: $font-color-secondary;
      font-size: 0.875rem;
      font-weight: 700;
      letter-spacing: 0.063rem;
      cursor: pointer;
      margin-top: 70px;
      transition: all 0.3s ease-in-out;
    }

    #load-more:hover {
      background-color: rgba($color-primary, 0.8);
      scale: 1.05;
    }
  }
}

footer {
  width: 100%;
  background-color: $color-secondary;
  color: $font-color-secondary;
  padding: 10px 0;
  text-align: center;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.063rem;
}

.filters-mobile {
  display: none;
}
