/*
    320px — 480px: Mobile devices
    481px — 768px: iPads, Tablets
    769px — 1024px: Small screens, laptops
    1025px — 1200px: Desktops, large screens
    1201px and more —  Extra large screens, TV
*/
*{
    box-sizing: border-box;
}
body{
    margin: 0;
    min-height: 120vh!important;
    max-width: 100vw!important;
    overflow-x: hidden;
    header{
        width: 100%;
        height: 80px;
        justify-content: center;
        display: flex;
        flex-direction: row;
        align-items: center;
        vertical-align: middle;
        border-bottom: 2px solid #C7C7C7;
    }

    main{
        width: 100%;
        height: auto;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        vertical-align: flex-start;
        .horizontal{
            display: flex;
            flex-direction: row;
            section{
                display: flex;
                flex: 0;
                &:last-child{
                    flex: 1;
                }
            }
        }
    }
}

.container{
    transition: width .245s ease-in-out;
    @media screen and (max-width: 899px) {
        width: 80vw!important;
        max-width: 80vw!important;
    }

    @media screen and (min-width: 900px) {
        width: 900px!important;
        max-width: 900px!important;
    }

    @media screen and (min-width: 1200px) {
        width: 1100px!important;
        max-width: 1100px!important;
    }

    @media screen and (min-width: 1500px) {
        width: 1400px!important;
        max-width: 1400px!important;
    }
}



@import "header.scss";
@import "heading.scss";
@import "footer.scss";
@import "elements.scss";