.top-side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 65px;
    margin-top: 40px;
}

.title-blouses {
    font-size: 32px;
}

.select {
    width: 142px;
    height: 42px;
    outline: none;
}
