$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$primary-color: #00c0ee;
$white: #ffffff;
$black: #000000;
$black2: #333333;
$gray1: #00000080;
$gray2: #666666;
$gray3: #c7c7c7;
$gray4: #00000050;
$gray5: #eeeeee;
