@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400&display=swap");

$blue-color: #00c0ee;
$gray-color: #666666;
$dark-gray-color: rgba(0, 0, 0, 0.5);
$black-color: #000000;
$white-color: #ffffff;
$font-color: #333333;
$border-color: #c7c7c7;

$font-primary: "Open Sans", sans-serif;
