$primary-color: #00c0ee;
$black: #000000;
$gray1: rgba(0, 0, 0, 0.5);
$gray2: #666666;
$white-color: #ffffff;
$title-color: #333333;
$border-header: #c7c7c7;
$main-family: "open sans";
$second-family: "Roboto";
$main-weight: 400;
$bold-weight: 700;
