#sort-container {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.dropdown-items {
    display: none;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    transform: translateY(-1px);
}

.dropdown header {
    display: none;
}

.dropdown-item {
    display: flex;
    align-items: center;
    padding: .5rem 3rem .5rem 1.5rem;
    cursor: pointer;
    transition: all 100ms;
}

.dropdown-item:hover {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
}

.dropdown-btn {
    width: 170px;
    height: 37px;

    text-align: start;
    padding: 0 1rem;

    background-color: white;
    border: 1px solid black;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 600px) {
    #sort-container {
        display: none;
    }

    .dropdown-btn {
        display: none;
    }

    .dropdown {
        position: fixed;
        display: block;
        z-index: 15;
        top: 0;
        left: 0;
    }

    .dropdown header {
        display: flex;
        justify-content: space-between;
        padding: 2rem;
        border-bottom: 1px solid #ccc;
        background-color: white;
        width: 100vw;
    }

    .dropdown header h3 {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.5rem;
        letter-spacing: 2px;
    }

    .dropdown header button {
        background-color: transparent;
        border: none;
    }

    .dropdown-items {
        width: 100vw;
        height: 100vh;
        overflow-y: scroll;
        
        background-color: white;
        border: none;
        transform: translateY(0px);
    }

    .dropdown-item {
        padding: 1rem 2rem;
        font-size: 1.5rem;
    }
    
}