body{
    margin: 0px;
    color: inherit;
    font-size: inherit;
    font-family: "Open Sans Regular", sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 14px;
    font-weight: 100;  
}

.header_content,
.home{
    min-width: 68%;
    max-width: 68%;
    margin: 0 auto;
}

.header{    
    padding: 15px 0;
    box-shadow: 0 2px 0 0 rgb(191, 191, 191);
}

.header_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_cart{
    display: block;
}
.header_cart_count{
    background-color: #2BBFF2;
    font-size: 12px;
    padding: 1px 3px;
    min-width: 14px;
    border-radius: 15px;
    color: white;
    position: absolute;
    text-align: center;
    transform: translate(-20%, 30%); 
}

.home{
    padding: 16px 0;  
}

.home_header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.home_container{
    display: flex;

}

.main_title{
    font-size: 32px;
}

.home_header_select{
    width: 145px;
    margin: 5.5px 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    right: 16%;
}

.select_title {
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    width: 145px;
    cursor: pointer;
    padding: 10px;
    border: 1px solid black;
    font-family: "Open Sans Regular", sans-serif;
    background-color: #fff;
}
.arrow_symbol{
    position: absolute;
    transform: translateY(-10%) scale(1.3, 0.5);;
    color: black;
    margin-left: 30px;
    margin-bottom: 20px;
    font-size: 18px;
}

.select_open_close {
    display: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    cursor: pointer;
    border: 1px solid black;
    color: #000;
}

.select_options{
    padding: 10px;
    text-align: left;
    background-color: #fff;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 14px;
}

.select_options:hover{
    background-color: #36bff2;
    color: #fff;
    cursor: pointer;
}

.side_bar{
    min-width: 220px;
    width: 220px;
}

.side_bar_items_title{
    font-size: 20px;
    color: black; 
}

        /*SIDE BAR COLOR*/
.side_bar_option_color{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
}

.side_bar_colors{
    display: none;
    margin-bottom: 5px;
}

.side_bar_colors input[type="checkbox"]{
    display:none; 
}

.side_bar_colors{
    cursor: pointer;
}

.checkbox_checked{
    height: 14px;
    width: 14px;
    border: 1px solid #7F7F7F; 
    content: "";
    display: inline-block;
    margin: 0 4px 0 0;  
    vertical-align: top;
}

.checkbox_checked::after{
    content: "";
    display: none;
    background: #2BBFF2;   
    height: 10px;
    width: 10px;
    position: relative;
    bottom: 19px;
    left: 2px;
    
}

.side_bar_colors input[type="checkbox"]:checked + .checkbox_checked::after {
    display: block;
}

.side_bar_more_colors{
    cursor: pointer;
    color: rgb(104, 104, 104);
    border-color: rgb(104, 104, 104);
    border-bottom: 1px solid;
    width: 140px;
}


.color_arrow_down{
    position: absolute;
    transform: translateY(-10%) scale(1.3, 0.5);;
    color: rgb(104, 104, 104);
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 18px;
}

        /*SIDE BAR SIZE*/
.side_bar_option_size{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 15px;
    margin-bottom: 20px;
} 

.side_bar_sizes input[type=checkbox]{
    display:none; 
}

.size_btn{
    display: inline-block;
    font-family: "Open Sans Bold", sans-serif;
    border: 1px solid #E4E4E4;
    height: 36px;
    width: 36px;
    margin: 5px;
    position: relative;
    color: #A1A1A1;
    cursor: pointer;
}

.side_bar_btn:checked ~ .size_btn{
    border: 1px solid #33BDEF;
    color: #000;
}

.size_btn:hover{
    border: 1px solid #33BDEF;
    color: #000;
}

.size_btn span{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
        /*SIDE BAR PRICE*/
.side_bar_option_price{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 20px;
}

.side_bar_prices input[type="radio"]{
    display:none; 
}

.side_bar_prices{
    cursor: pointer;   
}

.radio_checked{
    height: 14px;
    width: 14px;
    border: 1px solid #7F7F7F; 
    content: "";
    display: inline-block;
    margin: 0 4px 0 0; 
    vertical-align: top;
}

.radio_checked::after{
    content: "";
    display: none;
    background: #2BBFF2;   
    height: 10px;
    width: 10px;
    position: relative;
    bottom: 19px;
    left: 2px;   
}

.radio_checked:hover{
    border-color: #2BBFF2;
}

.side_bar_prices input[type="radio"]:checked + .radio_checked::after {
    display: block;
}

.products{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.products_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}


.products_div_itens{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 18px;
}

.products_div_itens_name{
    margin-top: 8px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.products_div_itens_price{
    font-weight: 800;
    margin-bottom: 2px;
}

.products_div_itens_btn_buy{
    color: white;
    font-weight: 800;  
    margin-top: 8px;
    width: 100%;
    height: 40px;
    border: 0px solid;
    background-color: black;

}
.products_div_itens_btn_buy:hover{
    cursor: pointer;
}

.products_load_more{
    width: 146.25px;
    padding: 9.5px 0px;
    text-align: center;
    background-color: #2BBFF2;
    cursor: pointer;
    color: white;
}




.footer{
    background: #000;
    color: white;
    text-align: center;
    padding:  10px 0;
    font-size: 12px;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a {
    color: inherit;
}



/*======================================TESTES!======================================*/



/* Style sort filter */
