<div id="box-mobile-filter" >
    <p id="blusas-p-mobile">Blusas</p>
    <div class="buscas-mobile">
        <div class="filtrar-buscas-mobile">
            <button onclick="abrirFiltrar()">Filtrar</button>
        </div>
        <div class="ordernar-buscas-mobile">
            <button onclick="abrirOrdenar()">Ordenar</button>
        </div>
    </div>
</div>

<div id="modalFiltrar" class="modal">
     <div class="modal-content">
        <div class="header-modal">
            <p >Filtrar</p>
            <img onclick="closeFiltrar()" src="./imagens/close.svg"/>
        </div>
         <button>Mais recentes</button>
        <button>Menor preço</button>
        <button>Maior preço</button>
    </div>
</div>

<div id="modalOrdenar" class="modal">
     <div class="modal-content">
        <div class="header-modal">
            <p >Ordenar</p>
            <img onclick="closeOrdenar()" src="./imagens/close.svg"/>
        </div>
    </div>
</div>